<ng-container *ngIf="(verifiedEmail | async)">
    Email verificado
    continua iniciando sesión
</ng-container>
<ng-container *ngIf="!(verifiedEmail | async)">
    Link de verificación expirado o ya ha sido utilizado
</ng-container>
