.phone-select {
    width: 40%;
    min-width: 40%;
}

.clickable {
    cursor: pointer;
}

.cntm-common-register-container {
    width: 100%;
  
    h3 {
      text-align: center;
      margin-bottom: 8px;
      color: #3F3f40;
      font-size: 24px;
      font-weight: 400;
      line-height: 2.5;
    }   
  }

.enabledIcon{
    color: rgb(82, 140, 245);
    cursor: pointer;
}