<div class="cntm-common-register-container">
    <h3>{{ 'COMMONS.REGISTER.TITLE' | translate }} </h3>
    <!-- <h4>{{ 'COMMONS.REGISTER.SUBTITLE' | translate }}</h4> -->
    <!-- REGISTER FORM -->
    <form nz-form nzLayout="vertical" [formGroup]="validateForm">
        <!-- Form item 2 email -->
        <nz-form-item>
            <nz-form-control [nzErrorTip]="'COMMONS.REGISTER.EMAIL_ERROR' | translate" [nzValidateStatus]="email"
                nzHasFeedback>
                <nz-input-group [nzSize]="inputSize" nzAddOnBeforeIcon="mail">
                    <input nz-input formControlName="email" autocomplete="email" appMail
                        [appMaxLength]="MaxLength.EMAIL" [placeholder]="'COMMONS.REGISTER.EMAIL' | translate"
                        tabindex="3" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <!-- Form item 3 phone -- ------------------->
        <nz-form-item>
            <!-- <div nz-col [nzSpan]="24"> -->
            <!-- <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="13"> -->
            <nz-form-control [nzErrorTip]="'COMMONS.REGISTER.PHONE_ERROR' | translate" [nzValidateStatus]="phoneNumber"
                nzHasFeedback>
                <nz-input-group [nzSize]="inputSize" [nzAddOnBefore]="selectCountryTemplate">
                    <ng-template #selectCountryTemplate>
                        <nz-select nzShowSearch formControlName="country" class="phone-select">
                            <nz-option *ngFor="let country of countries" [nzLabel]="country.name + ' ' + country.prefix"
                                [nzValue]="country">
                            </nz-option>
                        </nz-select>
                    </ng-template>
                    <input nz-input formControlName="phoneNumber" appNumber [appMaxLength]="MaxLength.PHONE"
                        autocomplete="tel" tabindex="4" [placeholder]="'COMMONS.REGISTER.PHONE' | translate" />
                    <!-- <input nz-input formControlName="phoneNumber" (keypress)="phoneOnlyNumber($event, phoneNumber)"
                (paste)="phoneOnlyNumber($event, phoneNumber)" autocomplete="tel" tabindex="4"
                (change)="resetValidation($event)" [placeholder]="'COMMONS.REGISTER.PHONE' | translate" /> -->
                </nz-input-group>
            </nz-form-control>
            <!-- </div> -->
            <!-- <div nz-col [nzXs]="21" [nzSm]="21" [nzMd]="9">
          <nz-form-control [nzErrorTip]="'COMMONS.REGISTER.CODE_ERROR' | translate"
            [nzValidateStatus]="validationPhoneCode" nzHasFeedback>
            <nz-input-group [nzSize]="inputSize" [nzPrefix]="validationPhonePrefix">
              <ng-template #validationPhoneTemplate>
            <i nz-tooltip [nzTooltipTitle]="'TOOLTIP.VALIDATION_PHONE' | translate" nzTooltipPlacement="top"
              class="clickable" nz-icon nzType="shake" nzTheme="outline" [ngClass]="this.phoneNumber.valid && this.country.valid ? 'enabledIcon': ''"
              (click)="validatePhoneNumber(phoneNumberValidationtemplate)"></i>
          </ng-template>
              <ng-template #validationPhonePrefix>
                <i nz-icon><span>PE-</span></i>
              </ng-template>
              <input nz-input formControlName="validationPhoneCode" nz-tooltip [nzTooltipTrigger]="'focus'"
                [nzTooltipTitle]="'TOOLTIP.VALIDATION_PHONE' | translate" nzTooltipPlacement="top"
                (keypress)="codeOnlyNumber($event, validationPhoneCode)"
                (paste)="codeOnlyNumber($event, validationPhoneCode)" autocomplete="code" tabindex="6"
                [placeholder]="'COMMONS.REGISTER.CODE' | translate" />
            </nz-input-group>
          </nz-form-control>
        </div> -->
            <!-- <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2">
          <nz-form-control>
            <button style="width: 100%;"
              [disabled]="!(this.phoneNumber.valid && this.country.valid) || this.validationPhoneCode.valid" nz-button
              nzType="primary" nzSize="large" (click)="validatePhoneNumber(phoneNumberValidationtemplate)">
              <i nz-icon nzType="shake" nzTheme="outline"></i>
            </button>
          </nz-form-control>
        </div> -->
            <!-- </div> -->
        </nz-form-item>
        <!-- Form item 4 password -->
        <nz-form-item>
            <nz-form-control [nzErrorTip]="'COMMONS.REGISTER.PASSWORD_ERROR' | translate" [nzValidateStatus]="password"
                nzHasFeedback>
                <nz-input-group [nzSize]="inputSize" [nzSuffix]="suffixTemplate" nzAddOnBeforeIcon="lock">
                    <input nz-input [type]="passwordVisible ? 'text' : 'password'" appPassword
                        [appMaxLength]="MaxLength.PASSWORD" formControlName="password" autocomplete="new-password"
                        [placeholder]="'COMMONS.REGISTER.PASSWORD' | translate"
                        (ngModelChange)="updateConfirmValidator()" tabindex="7" />
                </nz-input-group>
                <ng-template #suffixTemplate>
                    <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                        (click)="passwordVisible = !passwordVisible"></i>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <!-- Form item 5 confirm -->
        <nz-form-item>
            <nz-form-control [nzErrorTip]="'COMMONS.REGISTER.PASSWORD2_ERROR' | translate"
                [nzValidateStatus]="checkPassword" nzHasFeedback>
                <nz-input-group [nzSize]="inputSize" [nzSuffix]="suffixTemplate" nzAddOnBeforeIcon="lock">
                    <input nz-input [type]="passwordVisible ? 'text' : 'password'" appPassword
                        [appMaxLength]="MaxLength.PASSWORD" formControlName="checkPassword" autocomplete="new-password"
                        [placeholder]="'COMMONS.REGISTER.PASSWORD2' | translate" tabindex="8" />
                </nz-input-group>
                <ng-template #suffixTemplate>
                    <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                        (click)="passwordVisible = !passwordVisible"></i>
                </ng-template>
            </nz-form-control>
        </nz-form-item>


        <!-- Form item 6: Buttons -->
        <nz-form-item nzType="flex" nzJustify="space-between">
            <nz-form-control>
                <a nz-button nzBlock nzType="link" nzSize="large" tabindex="-1" (click)="CancelRegistration()"
                    class="link" [routerLink]="['/','commons']">
                    {{'COMMONS.REGISTER.LOGIN' | translate}}
                </a>
            </nz-form-control>

            <nz-form-control>
                <button nz-button nzBlock nzType="primary" nzSize="large" [disabled]="disabled" tabindex="9"
                    (click)="submitForm()">
                    {{'COMMONS.REGISTER.NEXT' | translate}}
                </button>
            </nz-form-control>
        </nz-form-item>
    </form>
    <div style="min-height: 35px;">
        <nz-alert *ngIf="errorMessage" [nzMessage]="errorMessage | translate" nzType="error" nzCloseable></nz-alert>
    </div>
</div>



<!-- <ng-template #phoneNumberValidationtemplate>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
      <span class="ant-notification-notice-icon"><i nz-icon nzType="check-circle" nzTheme="fill"
          style="color: rgb(0, 255, 187);"></i></span>
      <div class="ant-notification-notice-message">{{'MODAL.INFO' | translate}}</div>
      <div class="ant-notification-notice-description">{{'MODAL.SMS' | translate}}</div>
    </div>
  </div>
</ng-template> -->