<div class="common-container">
    <div class="common-titles">
        <h3>{{ 'COMMONS.FORGOT.PASSWORD.SEND_TITLE' | translate }}</h3>
        <h4>{{ userName }}</h4>
        <br><br>
        <span>{{ 'COMMONS.FORGOT.PASSWORD.SEND_SUBTITLE' | translate }}</span>
    </div>
    <form nz-form nzLayout="vertical">
        <nz-form-item nzType="flex" nzJustify="center">
            <nz-form-control [nzSpan]="20">
                <nz-radio-group [(ngModel)]="forgotPassword" [ngModelOptions]="{standalone: true}" [nzSize]="size">
                    <label style="font-size: 15px;" nz-radio
                        nzValue="1">{{'COMMONS.FORGOT.PASSWORD.LABEL.SEND_EMAIL' | translate}}</label>
                    <label><span style="margin-left: 30px; font-size: 13px;">{{ userEmail }}</span></label>
                    <br><br>
                    <label style="font-size: 15px;" nz-radio
                        nzValue="2">{{'COMMONS.FORGOT.PASSWORD.LABEL.SEND_SMS' | translate}}</label>
                    <label><span style="margin-left: 30px; font-size: 13px;">{{ userPhone }}</span></label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nzType="flex" nzJustify="center">
            <nz-form-control [nzSpan]="20">
                <nz-form-item nzType="flex" nzJustify="space-between">
                    <nz-form-control [nzSpan]="6">
                        <button nz-button nzBlock nzType="primary" [nzSize]="size" (click)="sendCode()">
                            {{'COMMONS.FORGOT.PASSWORD.BUTTON.SEND' | translate}}
                        </button>
                    </nz-form-control>
                    <nz-form-control [nzSpan]="6">
                        <button nz-button nzBlock nzType="default" [nzSize]="size" (click)="back()">
                            {{'COMMONS.FORGOT.PASSWORD.BUTTON.CANCEL' | translate}}
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>