@font-face {
    font-family: Poppins-Light;
    src: url("./Poppins/Poppins-Light.otf") format("truetype");    
}

@font-face {
    font-family: Poppins-Light;
    src: url("./Poppins/Poppins-Bold.otf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Poppins-Bold;
    src: url("./Poppins/Poppins-Bold.otf") format("truetype");
}

@font-face {
    font-family: Poppins-ThinItalic;
    src: url("./Poppins/Poppins-ThinItalic.otf") format("truetype");
    /* font-style: italic;
    font-weight: 100; */
}

@font-face {
    font-family: Poppins-Regular;
    src: url("./Poppins/Poppins-Regular.otf") format("truetype");
    /* font-style: italic;
    font-weight: 100; */
}