::ng-deep .ant-divider-horizontal {
    margin-top: 0px;
    height: 4px;
    background: rgb(82, 140, 245);
}
.blue{
    color: rgb(82, 140, 245);    
}
.blue-border{
    border-color: rgb(82, 140, 245);
}
.green{
    color: #00FFBB
}
.red{
    color: rgb(255, 86 , 86);
}
.red-border{
    border-color: rgb(255, 86 , 86);
}

input.red:hover, input.red::selection{
    border-color: rgb(255, 86 , 86) !important;
}
.title{
    font-size: 20px;
    white-space: normal;
}
.bold{
    font-weight: bold;
}
.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
.center-label{
    text-align: center;
}
.center-input{
    text-align: center;
}

[nz-row] nz-form-item{
    margin-top: 10px;
    margin-bottom: 0px;
}
