<div nz-row style="margin-top: 30px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <span class="blue title"><span class="bold">{{'ADMIN.MENU.PROFILE' | translate}}</span> -
            {{'ADMIN.PROFILE.DESCRIPTION' | translate}}</span>
        <nz-divider></nz-divider>
    </div>
</div>

<div nz-row style="margin-bottom: 8px;" nzAlign="top" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <div nz-row style="margin-bottom: 25px; height: 800px;" nzGutter="8">
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" style="height: 100%; margin-bottom: 8px;">
                <nz-card class="full-width" style="height: 100%;">
                    <ng-container *ngIf="accountPpe.documentType === '0'">
                        <nz-alert nzType="error" nzDescription="{{'ADMIN.PROFILE.ALERT.PROFILE_UPDATE' | translate}}"
                            nzShowIcon>
                        </nz-alert>
                    </ng-container>
                    <div nz-row nzAlign="top" nzJustify="center" nzType="flex" style="height: 100%;">
                        <div nz-col [nzSpan]="23" style="height: 100%;">
                            <div nz-row nzAlign="top" nzJustify="center" nzType="flex">
                                <span
                                    class="title bold">{{'ADMIN.PROFILE.MY_INFORMATION_CARD_TITLE' | translate}}</span>
                            </div>
                            <div nz-row nzAlign="top" nzJustify="center" nzType="flex">
                                <span class="title">{{'ADMIN.PROFILE.MY_INFORMATION_CARD_SUBTITLE' | translate}}</span>
                            </div>
                            <form nz-form nzLayout="vertical">
                                <nz-form-item>
                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                        <div nz-col>
                                            <nz-form-control nzAlign="middle" nzType="flex" nzJustify="end">
                                                <button nz-button nzType="primary" [disabled]="profileForm.invalid"
                                                    (click)="updateUserInfo()">
                                                    {{'ADMIN.PROFILE.BUTTON.UPDATE' | translate}}
                                                </button>
                                            </nz-form-control>
                                        </div>
                                    </div>
                                </nz-form-item>
                            </form>
                            <div nz-row nzAlign="middle" nzJustify="center" nzType="flex" style="height: 600px;">
                                <form nz-form nzLayout="vertical" style="width: 100%;">

                                    <!-- <nz-form-item>
                                        <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                                            <div nz-col>
                                                <nz-form-control nzAlign="middle" nzType="flex" nzJustify="end">
                                                    <button nz-button nzType="primary" [disabled]="profileForm.invalid"
                                                        (click)="updateUserInfo()">
                                                        {{'ADMIN.PROFILE.BUTTON.UPDATE' | translate}}
                                                    </button>
                                                </nz-form-control>
                                            </div>
                                        </div>
                                    </nz-form-item> -->

                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex" style="margin: auto;">
                                        <nz-form-item class="fixed-form-item" style="width: 70%;">
                                            <nz-form-control>
                                                <input class="blue blue-border center-input" nz-input
                                                    (keypress)="mNoSymbols($event, email)" readonly
                                                    (paste)="mNoSymbols($event, email)" [formControl]="email" />
                                            </nz-form-control>
                                            <nz-form-label class="center-label"><span
                                                    class="blue">{{'ADMIN.PROFILE.LABEL.EMAIL' | translate}}</span>
                                            </nz-form-label>
                                        </nz-form-item>
                                    </div>
                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                        <nz-form-item class="fixed-form-item" style="width: 70%;">
                                            <nz-form-control>
                                                <nz-input-group class="red red-boder" [nzSuffix]="suffixTemplate"
                                                    style="width: 85%;">
                                                    <input class="red red-border center-input"
                                                        placeholder="{{'ADMIN.PROFILE.PLACEHOLDER.NEW_PASSWORD' | translate}}"
                                                        [type]="passwordVisible ? 'text' : 'password'" appPassword
                                                        [appMaxLength]="MaxLength.PASSWORD" nz-input
                                                        [formControl]="password" />
                                                </nz-input-group>
                                                <ng-template #suffixTemplate>
                                                    <i class="red" style="cursor: pointer;" nz-icon
                                                        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                                        (click)="passwordVisible = !passwordVisible"></i>
                                                </ng-template>
                                                <button nz-button nzType="primary" [disabled]="fbUserForm.invalid"
                                                    style="width: 15%;" (click)="updatePassword()">
                                                    <i nz-icon [nzType]="'cloud-upload'"></i>
                                                </button>
                                            </nz-form-control>
                                            <nz-form-label class="center-label"><span
                                                    class="red">{{'ADMIN.PROFILE.LABEL.PASSWORD' | translate}}</span>
                                            </nz-form-label>
                                        </nz-form-item>
                                    </div>
                                    <nz-form-item class="fixed-form-item">
                                        <nz-form-control>
                                            <input class="center-input" nz-input
                                                (keypress)="uNoSymbols($event, userName)"
                                                (paste)="uNoSymbols($event, userName)" readonly
                                                [formControl]="userName" />
                                        </nz-form-control>
                                        <nz-form-label class="center-label">{{'ADMIN.PROFILE.LABEL.NAME' | translate}}
                                        </nz-form-label>
                                    </nz-form-item>
                                    <nz-form-item class="fixed-form-item">
                                        <nz-form-control>
                                            <nz-select
                                                nzPlaceHolder="{{'ADMIN.PROFILE.PLACEHOLDER.DOCUMENT_TYPE' | translate}}"
                                                [formControl]="documentType"
                                                (ngModelChange)="updateDocumentValidator($event)">
                                                <nz-option nzValue="1" nzLabel="DNI"></nz-option>
                                                <nz-option nzValue="2" nzLabel="RUC"></nz-option>
                                                <!-- <nz-option nzValue="3" nzLabel="CE"></nz-option>
                                                            <nz-option nzValue="4" nzLabel="PASAPORTE"></nz-option> -->
                                            </nz-select>
                                        </nz-form-control>
                                        <nz-form-label class="center-label">
                                            {{'ADMIN.PROFILE.LABEL.DOCUMENT_TYPE' | translate}}
                                        </nz-form-label>
                                    </nz-form-item>
                                    <nz-form-item class="fixed-form-item">
                                        <nz-form-control>
                                            <input class="center-input" nz-input readonly
                                                (keypress)="idOnlyNumber($event, documentNumber)"
                                                (paste)="idOnlyNumber($event, documentNumber)"
                                                [formControl]="documentNumber" />
                                        </nz-form-control>
                                        <nz-form-label class="center-label">
                                            {{'ADMIN.PROFILE.LABEL.DOCUMENT_NUMBER' | translate}}
                                        </nz-form-label>
                                    </nz-form-item>
                                    <nz-form-item class="fixed-form-item">
                                        <nz-form-control>
                                            <input class="center-input" nz-input appPhoneNumber
                                                [appMaxLength]="MaxLength.PHONE_NUMBER" [formControl]="movil" />
                                        </nz-form-control>
                                        <nz-form-label class="center-label">{{'ADMIN.PROFILE.LABEL.MOVIL' | translate}}
                                        </nz-form-label>
                                    </nz-form-item>
                                </form>
                            </div>

                        </div>
                    </div>
                </nz-card>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" style="height: 100%;">
                <nz-card class="full-width" style="height: 400px; margin-bottom: 8px;">
                    <ng-container *ngIf="!(solesAccountNumber.value || dolarAccountNumber.value)">
                        <nz-alert nzType="error" nzDescription="{{'ADMIN.PROFILE.ALERT.ACCOUNT_UPDATE' | translate}}"
                            nzShowIcon>
                        </nz-alert>
                    </ng-container>
                    <div nz-row class="full-height" nzAlign="middle" nzJustify="center" nzType="flex">
                        <div nz-col [nzSpan]="23">
                            <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                <span class="title bold">{{'ADMIN.PROFILE.MY_ACCOUNTS_CARD_TITLE' | translate}}</span>
                            </div>
                            <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                <span
                                    class="blue title">{{'ADMIN.PROFILE.MY_ACCOUNTS_CARD_PEN_SUBTITLE' | translate}}</span>
                            </div>
                            <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                            </div>
                            <form nz-form nzLayout="vertical">
                                <nz-form-item>
                                    <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                                        <div nz-col>
                                            <nz-form-control nzAlign="middle" nzType="flex" nzJustify="end">
                                                <button nz-button nzType="primary" [disabled]="solesBankForm.invalid"
                                                    (click)="updateBankInfo()">
                                                    {{'ADMIN.PROFILE.BUTTON.UPDATE' | translate}}
                                                </button>
                                            </nz-form-control>
                                        </div>
                                    </div>
                                </nz-form-item>
                                <nz-form-item class="fixed-form-item">
                                    <nz-form-control>
                                        <nz-select nzPlaceHolder="{{'ADMIN.PROFILE.PLACEHOLDER.BANK' | translate}}"
                                            [formControl]="solesBank">
                                            <ng-container *ngFor="let item of bankList">
                                                <nz-option [nzValue]="item.banco" [nzLabel]="item.banco">
                                                </nz-option>
                                            </ng-container>
                                        </nz-select>
                                    </nz-form-control>
                                    <nz-form-label class="center-label">
                                        {{'ADMIN.PROFILE.LABEL.BANK' | translate}}
                                    </nz-form-label>
                                </nz-form-item>
                                <nz-form-item class="fixed-form-item">
                                    <nz-form-control>
                                        <input nz-input class="center-input" appNumber
                                            [appMaxLength]="MaxLength.BANK_ACCOUNT"
                                            (change)="updateSolesBankValidator($event)"
                                            [formControl]="solesAccountNumber" />
                                    </nz-form-control>
                                    <nz-form-label class="center-label">
                                        {{'ADMIN.PROFILE.LABEL.ACCOUNT_NUMBER' | translate}}
                                    </nz-form-label>
                                </nz-form-item>
                                <nz-form-item class="fixed-form-item">
                                    <nz-form-control>
                                        <input nz-input class="center-input" appNumber
                                            [appMaxLength]="MaxLength.BANK_CCI"
                                            (change)="updateSolesBankValidator($event)" [formControl]="solesCci" />
                                    </nz-form-control>
                                    <nz-form-label class="center-label">
                                        {{'ADMIN.PROFILE.LABEL.INTER_BANK_ACCOUNT_CODE' | translate}}
                                    </nz-form-label>
                                </nz-form-item>
                            </form>
                        </div>
                    </div>
                </nz-card>
                <nz-card class="full-width" style="height: 392px;">
                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                        <div nz-col [nzSpan]="23">
                            <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                <span
                                    class="green title">{{'ADMIN.PROFILE.MY_ACCOUNTS_CARD_USD_SUBTITLE' | translate}}</span>
                            </div>
                            <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                            </div>
                            <form nz-form nzLayout="vertical">
                                <nz-form-item>
                                    <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                                        <div nz-col>
                                            <nz-form-control nzAlign="middle" nzType="flex" nzJustify="end">
                                                <button nz-button nzType="primary" [disabled]="dolarBankForm.invalid"
                                                    (click)="updateBankInfo()">
                                                    {{'ADMIN.PROFILE.BUTTON.UPDATE' | translate}}
                                                </button>
                                            </nz-form-control>
                                        </div>
                                    </div>
                                </nz-form-item>
                                <nz-form-item class="fixed-form-item">
                                    <nz-form-control>
                                        <nz-select nzPlaceHolder="{{'ADMIN.PROFILE.PLACEHOLDER.BANK' | translate}}"
                                            [formControl]="dolarBank">
                                            <ng-container *ngFor="let item of bankList">
                                                <nz-option [nzValue]="item.banco" [nzLabel]="item.banco">
                                                </nz-option>
                                            </ng-container>
                                        </nz-select>
                                    </nz-form-control>
                                    <nz-form-label class="center-label">
                                        {{'ADMIN.PROFILE.LABEL.BANK' | translate}}
                                    </nz-form-label>
                                </nz-form-item>
                                <nz-form-item class="fixed-form-item">
                                    <nz-form-control>
                                        <input nz-input class="center-input" appNumber
                                            [appMaxLength]="MaxLength.BANK_ACCOUNT"
                                            (change)="updateDolarBankValidator($event)"
                                            [formControl]="dolarAccountNumber" />
                                    </nz-form-control>
                                    <nz-form-label class="center-label">
                                        {{'ADMIN.PROFILE.LABEL.ACCOUNT_NUMBER' | translate}}
                                    </nz-form-label>
                                </nz-form-item>
                                <nz-form-item class="fixed-form-item">
                                    <nz-form-control>
                                        <input nz-input class="center-input" appNumber
                                            [appMaxLength]="MaxLength.BANK_CCI"
                                            (change)="updateDolarBankValidator($event)" [formControl]="dolarCci" />
                                    </nz-form-control>
                                    <nz-form-label class="center-label">
                                        {{'ADMIN.PROFILE.LABEL.INTER_BANK_ACCOUNT_CODE' | translate}}
                                    </nz-form-label>
                                </nz-form-item>
                            </form>
                        </div>
                    </div>
                </nz-card>
            </div>
        </div>
    </div>
</div>