
[nzHoverable] {
    cursor: auto;
    &:hover {   
        box-shadow:5px 10px 8px #888888;
    }
}


i{
    font-size: 20px;
}

.password{
    -webkit-text-security:disc; 
}

::ng-deep .ant-table-thead > tr > th, ::ng-deep .ant-table-tbody > tr > td {
    padding: 4px;
}

::ng-deep .ant-divider-horizontal {
    margin-top: 0px;
    height: 4px;
    background: rgb(82, 140, 245);
}

nz-divider.fixed{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 2px;
}

::ng-deep .ant-card-body {
    padding-top: 20px;
    padding-bottom: 24px;
    height: 100%;
}

nz-divider.green{
    background: #00FFBB;
}

nz-divider.red{
    background: rgb(255, 86 , 86);
}

nz-divider.gray{
    background: #E4E4E4;
}

nz-divider.blue{
    background: rgb(82, 140, 245); 
}

.red{
    color: rgb(255, 86 , 86);
}

.blue{
    color: rgb(82, 140, 245);    
}

.gray{
    color: #E4E4E4;
}

.green{
    color: #00FFBB
}

.title{
    font-size: 20px;
    white-space: normal;
}

.subtitle{
    font-size: 15px;
    white-space: normal;
}

.footer{
    font-size: 11px;
    white-space: normal;
}

.bold{
    font-weight: bold;
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

.center-text{
    text-align: center;
}