<div nz-row style="margin-top: 30px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <span class="blue title"><span class="bold">{{'ADMIN.MENU.PAYMENTS_HISTORY' | translate}}</span> - {{'ADMIN.PAYMENTS_HISTORY.DESCRIPTION' | translate}}</span>
        <nz-divider></nz-divider>
    </div>
</div>

<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <div nz-row style="margin-bottom: 25px;" nzAlign="middle" nzJustify="center" nzType="flex">
            <nz-card class="full-width">
                <div nz-row style="margin-bottom: 8px;" nzJustify="center" nzType="flex">
                    <div nz-col [nzSpan]="24">
                        <div nz-row nzJustify="space-between" nzType="flex">
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="9">
                                <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                                    <span class="title bold">{{'ADMIN.PAYMENTS_HISTORY.ALL_PAYMENTS_CARD_TITLE' | translate}}</span>
                                </div>
                                <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                                    <span class="title">{{'ADMIN.PAYMENTS_HISTORY.ALL_PAYMENTS_CARD_SUBTITLE' | translate}}:</span>
                                </div>
                                <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                    <div nz-col>
                                        <div nz-row nzAlign="bottom" nzJustify="center" nzType="flex">
                                            <span class="bold" style="font-size: 45px;">{{ paymentsStats.totalTran | formatNumber:6 }}</span>
                                        </div>
                                        <div nz-row nzAlign="top" nzJustify="center" nzType="flex">
                                            <span class="subtitle center-text">{{paymentsStats.totalTran | ordinalNumberToWord }} {{'ADMIN.PAYMENTS_HISTORY.LABEL.PAYMENTS' | translate}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6">
                                <div nz-row style="margin-top: 15px;" nzAlign="middle" nzJustify="end" nzType="flex">
                                    <div nz-col>
                                        <div nz-row nzAlign="middle" nzJustify="end" nzType="flex">
                                            <span class="title bold">S/ {{ paymentsStats.totalPEN | formatCurrency }}</span>
                                        </div>
                                        <nz-divider class="blue fixed"></nz-divider>
                                        <div nz-row style="margin-bottom: 10px;" nzAlign="middle" nzJustify="center"
                                            nzType="flex">
                                            <span class="blue subtitle">{{'ADMIN.PAYMENTS_HISTORY.LABEL.PEN' | translate}}</span>
                                        </div>
                                        <div nz-row nzAlign="middle" nzJustify="end" nzType="flex">
                                            <span class="title bold">$ {{ paymentsStats.totalUSD | formatCurrency }}</span>
                                        </div>
                                        <nz-divider class="green fixed"></nz-divider>
                                        <div nz-row style="margin-bottom: 10px;" nzAlign="middle" nzJustify="center"
                                            nzType="flex">
                                            <span class="green subtitle">{{'ADMIN.PAYMENTS_HISTORY.LABEL.USD' | translate}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-card>
        </div>
        <div nz-row style="margin-bottom: 25px;" nzGutter="8" nzAlign="middle" nzJustify="center" nzType="flex">
            <nz-card class="full-width">
                <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                    <div nz-col [nzSpan]="24">
                        <div nz-row nzAlign="middle" nzJustify="space-between" nzType="flex">
                            <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12">
                                <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                                    <span class="blue title bold">{{'ADMIN.PAYMENTS_HISTORY.PAY_CARD_TITLE' | translate}}</span>
                                </div>
                                <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                                    <span class="blue title">{{'ADMIN.PAYMENTS_HISTORY.PAY_CARD_PEN_SUBTITLE' | translate}}:</span>
                                </div>
                            </div>
                            <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6">
                                <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                    <button nzSize="small" nz-button nzType="primary"
                                    (click)="getPen(0)" [ngClass]="penLastMonth? 'button-gray': 'button-blue'">
                                        {{'ADMIN.PAYMENTS_HISTORY.BUTTON.ALL' | translate}}
                                    </button>
                                    <button nzSize="small" nz-button nzType="primary"
                                    (click)="getPen(1)" [ngClass]="penLastMonth? 'button-blue': 'button-gray'">
                                        {{'ADMIN.PAYMENTS_HISTORY.BUTTON.MONTHLY' | translate}}
                                    </button>
                                </div>
                            </div>
                            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="6">
                            </div>
                        </div>
                        <div nz-row style="margin-top: 25px;">
                            <nz-table [nzScroll]="{ x: '928px' }" #paymentPenTable nzFrontPagination="false"
                                nzSize="default" [nzData]="transactionPenList">
                                <thead>
                                    <tr>
                                        <th>{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.OPERATION' | translate}}</th>
                                        <th>{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.ID_VISA' | translate}}</th>
                                        <th nzAlign="center">{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.DATE' | translate}}</th>
                                        <th style="width: 20%;">{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.DETAIL' | translate}}</th>
                                        <th nzAlign="center">{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.CARDNUMBER' | translate}}</th>
                                        <th nzAlign="center">{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.CLIENT' | translate}}</th>
                                        <th nzAlign="center">{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.LINK_SOURCE' | translate}}</th>
                                        <th nzAlign="center">{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.AMOUNT' | translate}}</th>
                                        <th nzAlign="center">{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.SALE_PERCENT' | translate}}</th>
                                        <th nzAlign="center">{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.NET_VALUE' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let payment of paymentPenTable.data">
                                        <td>{{ payment.id }}</td>
                                        <td>{{ payment.idVisa}}</td>
                                        <td nzAlign="center">{{ payment.date }}</td>
                                        <td>{{ payment.description}}</td>
                                        <td nzAlign="center">{{ payment.card }}</td>
                                        <td nzAlign="center">{{ payment.client }}</td>
                                        <td nzAlign="center">{{ payment.origin }}</td>
                                        <td nzAlign="right">{{ payment.amount }}</td>
                                        <td nzAlign="right">{{ payment.comision }}</td>
                                        <td nzAlign="right">{{ payment.neto }}</td>
                                    </tr>
                                </tbody>
                            </nz-table>
                            <div nz-row style="margin-top: 40px;" nzAlign="middle" nzJustify="center" nzType="flex">
                                <nz-pagination nzSize="small" nzAlign="center" [nzPageIndex]="paginationPen.pag"
                                    [nzPageSize]="paginationPen.regxpag" [nzTotal]="paginationPen.totalrows"
                                    nzResponsive="true" [nzShowTotal]="rangeTemplate"
                                    (nzPageIndexChange)="paginationPenChange($event)">
                                </nz-pagination>
                                <ng-template #rangeTemplate let-range="range" let-total>
                                    {{ range[0] }}-{{ range[1] }} {{'ADMIN.PAYMENTS_HISTORY.INFO.PAGINATION_OF' | translate}} {{ total }} {{'ADMIN.PAYMENTS_HISTORY.INFO.PAGINATION_RESULTS' | translate}} </ng-template>
                            </div>
                        </div>
                        <div nz-row nzAlign="middle" nzJustify="center" class="footer" style="margin-top: 40px;"
                            nzType="flex">
                            {{'ADMIN.PAYMENTS_HISTORY.CARD_FOOTER' | translate}}
                        </div>
                    </div>
                </div>
            </nz-card>
        </div>
        <div nz-row style="margin-bottom: 25px;" nzGutter="8" nzAlign="middle" nzJustify="center" nzType="flex">
            <nz-card class="full-width">
                <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                    <div nz-col [nzSpan]="24">
                        <div nz-row nzAlign="middle" nzJustify="space-between" nzType="flex">
                            <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12">
                                <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                                    <span class="green title bold">{{'ADMIN.PAYMENTS_HISTORY.PAY_CARD_TITLE' | translate}}</span>
                                </div>
                                <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                                    <span class="green title">{{'ADMIN.PAYMENTS_HISTORY.PAY_CARD_USD_SUBTITLE' | translate}}:</span>
                                </div>
                            </div>
                            <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6">
                                <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                    <button nzSize="small" nz-button nzType="primary"
                                    (click)="getUsd(0)" [ngClass]="usdLastMonth? 'button-gray': 'button-green'">
                                        {{'ADMIN.PAYMENTS_HISTORY.BUTTON.ALL' | translate}}
                                    </button>
                                    <button nzSize="small" nz-button nzType="primary"
                                    (click)="getUsd(1)" [ngClass]="usdLastMonth? 'button-green': 'button-gray'">
                                        {{'ADMIN.PAYMENTS_HISTORY.BUTTON.MONTHLY' | translate}}
                                    </button>
                                </div>
                            </div>
                            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="6">
                            </div>
                        </div>
                        <div nz-row style="margin-top: 25px;">
                            <nz-table [nzScroll]="{ x: '928px' }" #paymentUsdTable nzFrontPagination="false"
                                nzSize="default" [nzData]="transactionUsdList">
                                <thead>
                                    <tr>
                                        <th>{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.OPERATION' | translate}}</th>
                                        <th>{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.ID_VISA' | translate}}</th>
                                        <th nzAlign="center">{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.DATE' | translate}}</th>
                                        <th style="width: 20%;">{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.DETAIL' | translate}}</th>
                                        <th nzAlign="center">{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.CARDNUMBER' | translate}}</th>
                                        <th nzAlign="center">{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.CLIENT' | translate}}</th>
                                        <th nzAlign="center">{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.LINK_SOURCE' | translate}}</th>
                                        <th nzAlign="center">{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.AMOUNT' | translate}}</th>
                                        <th nzAlign="center">{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.SALE_PERCENT' | translate}}</th>
                                        <th nzAlign="center">{{'ADMIN.PAYMENTS_HISTORY.TABLE_HEADER.NET_VALUE' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let payment of paymentUsdTable.data">
                                        <td>{{ payment.id }}</td>
                                        <td>{{ payment.idVisa}}</td>
                                        <td nzAlign="center">{{ payment.date }}</td>
                                        <td>{{ payment.description}}</td>
                                        <td nzAlign="center">{{ payment.card }}</td>
                                        <td nzAlign="center">{{ payment.client }}</td>
                                        <td nzAlign="center">{{ payment.origin }}</td>
                                        <td nzAlign="right">{{ payment.amount }}</td>
                                        <td nzAlign="right">{{ payment.comision }}</td>
                                        <td nzAlign="right">{{ payment.neto }}</td>
                                    </tr>
                                </tbody>
                            </nz-table>
                            <div nz-row style="margin-top: 40px;" nzAlign="middle" nzJustify="center" nzType="flex">
                                <nz-pagination nzSize="small" nzAlign="center" [nzPageIndex]="paginationUsd.pag"
                                    [nzPageSize]="paginationUsd.regxpag" [nzTotal]="paginationUsd.totalrows"
                                    nzResponsive="true" [nzShowTotal]="rangeTemplate"
                                    (nzPageIndexChange)="paginationUsdChange($event)">
                                </nz-pagination>
                                <ng-template #rangeTemplate let-range="range" let-total>
                                    {{ range[0] }}-{{ range[1] }} {{'ADMIN.PAYMENTS_HISTORY.INFO.PAGINATION_OF' | translate}} {{ total }} {{'ADMIN.PAYMENTS_HISTORY.INFO.PAGINATION_RESULTS' | translate}} </ng-template>
                            </div>
                        </div>
                        <div nz-row nzAlign="middle" nzJustify="center" class="footer" style="margin-top: 40px;"
                            nzType="flex">
                            {{'ADMIN.PAYMENTS_HISTORY.CARD_FOOTER' | translate}}
                        </div>
                    </div>
                </div>
            </nz-card>
        </div>
    </div>
</div>


<!-- <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <nz-card style="width:100%;">
            <nz-divider nzText="{{'ADMIN.MENU.PAYMENTS' | translate}}" nzOrientation="left"></nz-divider>
            <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                <div nz-col [nzSpan]="22">
                    <nz-table #paymentTable nzSize="middle" nzFrontPagination="false" [nzData]="paymentList">
                        <thead>
                            <tr>
                                <th>{{'ADMIN.PAYMENT.ID' | translate}}</th>
                                <th>{{'ADMIN.PAYMENT.CARD_NUMBER' | translate}}</th>
                                <th>{{'ADMIN.PAYMENT.TRANSACTION_DATE' | translate}}</th>
                                <th>{{'ADMIN.PAYMENT.CURRENCY' | translate}}</th>
                                <th>{{'ADMIN.PAYMENT.AMOUNT' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let payment of paymentTable.data">
                                <td>{{ payment.trace }}</td>
                                <td>{{ payment.cardn }}</td>
                                <td>{{ payment.datcr }}</td>
                                <td>{{ payment.curre }}</td>
                                <td>{{ payment.tamnt }}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                    <div nz-row style="margin-top: 12px;" nzAlign="middle" nzJustify="end" nzType="flex"> 
                        <div nz-col [nzSpan]="24">   
                            <nz-pagination nzAlign="center" [nzPageIndex]="pagination.pag" 
                            [nzPageSize]="pagination.regxpag" 
                            [nzTotal]="pagination.totalrows" 
                            nzResponsive="true"
                            [nzShowTotal]="rangeTemplate"
                            (nzPageIndexChange)="paginationChange($event)"></nz-pagination>
                            <ng-template #rangeTemplate let-range="range" let-total> {{ range[0] }}-{{ range[1] }} of {{ total }} items </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </nz-card>
    </div>
</div> -->