.validate-c-container {
  width: 100%;

  h3 {
    text-align: center;
    margin-bottom: 8px;
    color: #3F3f40;
    font-size: 24px;
    font-weight: 400;
    line-height: 2.5;
  }
}

.login-error {
  color: red;
}

.login-forgot-button {
  font-size: 14px;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // color: #001529;
}





