<div class="validate-c-container">
    <!-- <h3>{{ 'COMMONS.LOGIN.TITLE' | translate }}</h3> -->
    <!-- <h4>{{ 'COMMONS.LOGIN.SUBTITLE' | translate }}</h4> -->
    <!-- LOGIN FORM -->
    <!-- <button nz-button nzBlock nzType="primary" nzSize="large" (click)="encrypt()">
        <span class="bold">Encrypt</span>
    </button> -->

    <form nz-form nzLayout="vertical">
        <nz-form-item class="login-form-item-inputs">
            <nz-form-control [nzSpan]="24" [nzErrorTip]="'COMMONS.LOGIN.USERNAME_ERROR' | translate">
                <nz-input-group nzSize="large" nzAddOnBeforeIcon="user">
                    <input nz-input appAutoFocus [formControl]="email" appMail [appMaxLength]="MaxLength.EMAIL"
                        [placeholder]="'COMMONS.LOGIN.PLACEHOLDER.EMAIL' | translate" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <div nz-row>
                <nz-form-control [nzSpan]="24" [nzErrorTip]="'COMMONS.LOGIN.PASSWORD_ERROR' | translate">
                    <nz-input-group nzSize="large" [nzSuffix]="suffixTemplate" nzAddOnBeforeIcon="lock">
                        <input nz-input [type]="passwordVisible ? 'text' : 'password'" [formControl]="password"
                            appPassword [appMaxLength]="MaxLength.PASSWORD" autocomplete="new-password"
                            [placeholder]="'COMMONS.LOGIN.PLACEHOLDER.PASSWORD' | translate" />
                    </nz-input-group>
                    <ng-template #suffixTemplate>
                        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisible = !passwordVisible"></i>
                    </ng-template>
                </nz-form-control>
            </div>
            <div nz-row nzAlign="middle" nzJustify="space-between" nzType="flex">
                <a nz-button nzType="link" nzSize="large" class="login-forgot-button" (click)="goForgotPassword()">
                    {{'COMMONS.LOGIN.LABEL.FORGOT_PASSWORD' | translate}}
                </a>
            </div>
        </nz-form-item>
        <div nz-row class="full-width spaced-row">
            <button nz-button nzBlock nzType="primary" nzSize="large" [disabled]="disabled" (click)="submitForm()">
                <span class="bold">{{'COMMONS.LOGIN.BUTTON.NEXT' | translate}}</span>
            </button>
        </div>
        <div nz-row class="full-width spaced-row">
            <button nz-button nzBlock nzType="primary" nzGhost nzSize="large" [disabled]="disabled"
                (click)="goRegister()">
                <span class="bold">{{'COMMONS.LOGIN.BUTTON.REGISTER' | translate}}</span>
            </button>
        </div>
        <!-- <div nz-row class="full-width spaced-row">
            <button nz-button nzBlock nzType="primary" nzSize="large" [disabled]="disabled" (click)="goRegister()">
                <span class="bold">{{'COMMONS.LOGIN.BUTTON.REGISTER' | translate}}</span>
            </button>
        </div>  
        <div nz-row class="full-width spaced-row">
            <button nz-button nzBlock nzType="primary" nzSize="large" [disabled]="disabled" (click)="loginGoogle()">
                <span class="bold">LOGIN WITH GOOGLE</span>
            </button>
        </div>  
        <div nz-row class="full-width spaced-row">
            <button nz-button nzBlock nzType="primary" nzSize="large" [disabled]="disabled" (click)="goRegister()">
                <span class="bold">{{'COMMONS.LOGIN.BUTTON.REGISTER' | translate}}</span>
            </button>
        </div>                 -->
    </form>
    <div style="min-height: 35px;">
        <nz-alert *ngIf="errorMessage" nzBanner [nzMessage]="errorMessage | translate" nzCloseable></nz-alert>
    </div>
</div>