<div nz-row style="margin-top: 30px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <span class="blue title"><span class="bold">{{'ADMIN.MENU.MY_PAYMENT_LINKS' | translate}}</span> -
            {{'ADMIN.MY_PAYMENT_LINKS.DESCRIPTION' | translate}}</span>
        <nz-divider></nz-divider>
    </div>
</div>

<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <div nz-row style="margin-bottom: 25px;" nzAlign="middle" nzJustify="center" nzType="flex">
            <nz-card class="full-width">
                <div nz-row style="margin-bottom: 8px;" nzJustify="center" nzType="flex">
                    <div nz-col [nzSpan]="24">
                        <div nz-row nzJustify="space-between" nzType="flex">
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8">
                                <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                                    <span
                                        class="title bold">{{'ADMIN.MY_PAYMENT_LINKS.HISTORY_CARD_TITLE' | translate}}</span>
                                </div>
                                <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                                    <span
                                        class="title">{{'ADMIN.MY_PAYMENT_LINKS.HISTORY_CARD_SUBTITLE' | translate}}:</span>
                                </div>
                                <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                    <div nz-col>
                                        <div nz-row nzAlign="bottom" nzJustify="center" nzType="flex">
                                            <span class="bold"
                                                style="font-size: 45px;">{{ paymentLinksStats.total | formatNumber:6 }}</span>
                                        </div>
                                        <div nz-row nzAlign="top" nzJustify="center" nzType="flex">
                                            <span class="subtitle">
                                                {{ paymentLinksStats.total | ordinalNumberToWord }} {{'ADMIN.MY_PAYMENT_LINKS.LABEL.LINKS' | translate}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7">
                                <div nz-row style="margin-top: 15px;" nzAlign="middle" nzJustify="center" nzType="flex">
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12">
                                        <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                            <span class="title bold">{{ paymentLinksStats.paid | formatNumber:6 }}</span>
                                        </div>
                                        <nz-divider class="green fixed"></nz-divider>
                                        <div nz-row style="margin-bottom: 10px;" nzAlign="middle" nzJustify="center"
                                            nzType="flex">
                                            <span
                                                class="green subtitle">{{'ADMIN.MY_PAYMENT_LINKS.LABEL.PAID' | translate}}</span>
                                        </div>
                                        <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                            <span class="title bold">{{ paymentLinksStats.pending | formatNumber:6 }}</span>
                                        </div>
                                        <nz-divider class="red fixed"></nz-divider>
                                        <div nz-row style="margin-bottom: 10px;" nzAlign="middle" nzJustify="center"
                                            nzType="flex">
                                            <span
                                                class="red subtitle">{{'ADMIN.MY_PAYMENT_LINKS.LABEL.PENDING' | translate}}</span>
                                        </div>
                                        <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                            <span class="title bold">{{ paymentLinksStats.expired | formatNumber:6 }}</span>
                                        </div>
                                        <nz-divider class="gray fixed"></nz-divider>
                                        <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                            <span
                                                class="gray subtitle">{{'ADMIN.MY_PAYMENT_LINKS.LABEL.EXPIRED' | translate}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="9">
                                <div nz-row style="margin-top: 15px;" nzAlign="middle" nzJustify="center" nzType="flex">
                                    <div nz-col [nzSpan]="24">
                                        <div nz-row style="margin-bottom: 10px;" nzAlign="middle" nzJustify="center"
                                            nzType="flex">
                                            <div class="center-text" nz-col [nzXs]="8" [nzSm]="7" [nzMd]="7">
                                                <span
                                                    class="badge badge-red">{{'ADMIN.MY_PAYMENT_LINKS.BADGE.PENDING' | translate}}</span>
                                            </div>
                                            <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="1">
                                            </div>
                                            <div nz-col [nzXs]="15" [nzSm]="16" [nzMd]="16">
                                                {{'ADMIN.MY_PAYMENT_LINKS.INFO.PENDING' | translate}}
                                            </div>
                                        </div>
                                        <div nz-row style="margin-bottom: 10px;" nzAlign="middle" nzJustify="center"
                                            nzType="flex">
                                            <div class="center-text" nz-col [nzXs]="8" [nzSm]="7" [nzMd]="7">
                                                <span
                                                    class="badge badge-green">{{'ADMIN.MY_PAYMENT_LINKS.BADGE.PAID' | translate}}</span>
                                            </div>
                                            <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="1">
                                            </div>
                                            <div nz-col [nzXs]="15" [nzSm]="16" [nzMd]="16">
                                                {{'ADMIN.MY_PAYMENT_LINKS.INFO.PAID' | translate}}
                                            </div>
                                        </div>
                                        <div nz-row style="margin-bottom: 10px;" nzAlign="middle" nzJustify="center"
                                            nzType="flex">
                                            <div class="center-text" nz-col [nzXs]="8" [nzSm]="7" [nzMd]="7">
                                                <span
                                                    class="badge badge-gray">{{'ADMIN.MY_PAYMENT_LINKS.BADGE.EXPIRED' | translate}}</span>
                                            </div>
                                            <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="1">
                                            </div>
                                            <div nz-col [nzXs]="15" [nzSm]="16" [nzMd]="16">
                                                {{'ADMIN.MY_PAYMENT_LINKS.INFO.EXPIRED' | translate}}
                                            </div>
                                        </div>
                                        <div nz-row style="margin-bottom: 10px;" nzAlign="middle" nzJustify="center"
                                            nzType="flex">
                                            <div nz-col [nzXs]="8" [nzSm]="7" [nzMd]="7">
                                                <nz-switch nzSize="small" class="center" [ngModel]="true" [nzControl]="true">
                                                </nz-switch>
                                            </div>
                                            <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="1">
                                            </div>
                                            <div nz-col [nzXs]="15" [nzSm]="16" [nzMd]="16">
                                                {{'ADMIN.MY_PAYMENT_LINKS.INFO.ENABLED' | translate}}
                                            </div>
                                        </div>
                                        <div nz-row style="margin-bottom: 10px;" nzAlign="middle" nzJustify="center"
                                            nzType="flex">
                                            <div nz-col [nzXs]="8" [nzSm]="7" [nzMd]="7">
                                                <nz-switch nzSize="small" class="center" [ngModel]="false" [nzControl]="true">
                                                </nz-switch>
                                            </div>
                                            <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="1">
                                            </div>
                                            <div nz-col [nzXs]="15" [nzSm]="16" [nzMd]="16">
                                                {{'ADMIN.MY_PAYMENT_LINKS.INFO.DISABLED' | translate}}
                                            </div>
                                        </div>
                                        <div nz-row style="margin-bottom: 10px;" nzAlign="middle" nzJustify="center"
                                            nzType="flex">
                                            <div nz-col [nzXs]="8" [nzSm]="7" [nzMd]="7">
                                                <i class="center" style="font-size: 15px; color: #969696" nz-icon
                                                    nzType="history" nzTheme="outline"></i>
                                            </div>
                                            <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="1">
                                            </div>
                                            <div nz-col [nzXs]="15" [nzSm]="16" [nzMd]="16">
                                                {{'ADMIN.MY_PAYMENT_LINKS.INFO.COMPLETE' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-card>
        </div>
        <div nz-row style="margin-bottom: 25px;" nzGutter="8" nzAlign="middle" nzJustify="center" nzType="flex">
            <nz-card class="full-width">
                <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                    <div nz-col [nzSpan]="24">
                        <div nz-row nzAlign="middle" nzJustify="space-between" nzType="flex">
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
                                <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                                    <span
                                        class="blue title bold">{{'ADMIN.MY_PAYMENT_LINKS.UNIQUE_CARD_TITLE' | translate}}</span>
                                </div>
                                <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                                    <span
                                        class="blue title">{{'ADMIN.MY_PAYMENT_LINKS.UNIQUE_CARD_SUBTITLE' | translate}}:</span>
                                </div>
                            </div>
                            <div nz-col [nzXs]="15" [nzSm]="15" [nzMd]="6">
                                <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                    <button nzSize="small" nz-button nzType="primary"
                                        (click)="getUnique(0)" [ngClass]="uniqueLastMonth? 'button-gray': 'button-blue'">
                                        {{'ADMIN.MY_PAYMENT_LINKS.BUTTON.ALL' | translate}}
                                    </button>
                                    <button nzSize="small" nz-button nzType="primary"
                                        (click)="getUnique(1)" [ngClass]="uniqueLastMonth? 'button-blue': 'button-gray'">
                                        {{'ADMIN.MY_PAYMENT_LINKS.BUTTON.MONTHLY' | translate}}
                                    </button>
                                </div>
                            </div>
                            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="3">
                            </div>
                            <div nz-col [nzXs]="9" [nzSm]="9" [nzMd]="3">
                                <div nz-row nzAlign="top" nzJustify="end" nzType="flex">
                                    <nz-select class="full-width" [(ngModel)]="selectedUniqueCurrency"
                                        (ngModelChange)="uniqueCurrencyChange($event)">
                                        <ng-container *ngFor="let item of accountCurrencyList">
                                            <nz-option [nzValue]="item" [nzLabel]="item">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                            </div>
                        </div>
                        <div nz-row style="margin-top: 25px;">
                            <nz-table [nzScroll]="{ x: '928px' }" #paymentlinkUniqueTable nzFrontPagination="false"
                                nzSize="default" [nzData]="paymentLinkUniqueList">
                                <thead>
                                    <tr>
                                        <th nzAlign="center">{{'ADMIN.MY_PAYMENT_LINKS.TABLE_HEADER.QR' | translate}}
                                        </th>
                                        <th>{{'ADMIN.MY_PAYMENT_LINKS.TABLE_HEADER.ID' | translate}}</th>
                                        <th>{{'ADMIN.MY_PAYMENT_LINKS.TABLE_HEADER.DATE' | translate}}</th>
                                        <th style="width: 15%;">
                                            {{'ADMIN.MY_PAYMENT_LINKS.TABLE_HEADER.DETAIL' | translate}}</th>
                                        <th style="width: 35%;">
                                            {{'ADMIN.MY_PAYMENT_LINKS.TABLE_HEADER.LINK' | translate}}</th>
                                        <th nzAlign="center">
                                            {{'ADMIN.MY_PAYMENT_LINKS.TABLE_HEADER.PAYMENT_STATE' | translate}}</th>
                                        <th nzAlign="center">
                                            {{'ADMIN.MY_PAYMENT_LINKS.TABLE_HEADER.AMOUNT' | translate}}</th>
                                        <th nzAlign="center">
                                            {{'ADMIN.MY_PAYMENT_LINKS.TABLE_HEADER.ACTIVITY' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let paymentlink of paymentlinkUniqueTable.data">
                                        <td nzAlign="center">
                                            <button nzSize="small" nz-button nzType="primary"
                                                (click)="showQr(paymentlink, qrModalTemplate)">
                                                <i nz-icon nzType="qrcode"></i>
                                            </button>
                                        </td>
                                        <td>{{ paymentlink.id | formatNumber:6 }}</td>
                                        <td>{{ paymentlink.date }}</td>
                                        <td nz-tooltip nzTooltipTitle="{{paymentlink.description}}" style="width: 15%;">{{ paymentlink.description | wordTruncate:15 }}</td>
                                        <td style="width: 33%;">
                                            <!-- <a (click)="showPaymentLink(paymentlink, linkInfoModalTemplate)"> -->
                                            {{ externalLink.PAGAPE + paymentlink.link }}
                                            <!-- </a> -->
                                        </td>
                                        <td nzAlign="center">
                                            <ng-container *ngIf="paymentlink.paid">
                                                <span class="badge badge-green">
                                                    {{'ADMIN.MY_PAYMENT_LINKS.BADGE.PAID' | translate}}
                                                </span>
                                            </ng-container>
                                            <ng-container *ngIf="!paymentlink.paid && !paymentlink.expired">
                                                <span class="badge badge-red">
                                                    {{'ADMIN.MY_PAYMENT_LINKS.BADGE.PENDING' | translate}}
                                                </span>
                                            </ng-container>
                                            <ng-container *ngIf="!paymentlink.paid && paymentlink.expired">
                                                <span class="badge badge-gray">
                                                    {{'ADMIN.MY_PAYMENT_LINKS.BADGE.EXPIRED' | translate}}
                                                </span>
                                            </ng-container>
                                        </td>
                                        <td nzAlign="right">{{ paymentlink.amount }}</td>
                                        <td nzAlign="center">
                                            <ng-container *ngIf="!paymentlink.paid && !paymentlink.expired">
                                                <nz-switch nzSize="small" [ngModel]="paymentlink.enable"
                                                    [nzControl]="true"
                                                    (click)="changeStatusPaymentLink(paymentlink, unique)"></nz-switch>
                                            </ng-container>
                                            <ng-container *ngIf="paymentlink.paid || paymentlink.expired">
                                                <i class="center" style="font-size: 15px; color: #969696" nz-icon
                                                    nzType="history" nzTheme="outline"></i>
                                            </ng-container>
                                        </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                            <div nz-row style="margin-top: 40px;" nzAlign="middle" nzJustify="center" nzType="flex">
                                <nz-pagination nzSize="small" nzAlign="center" [nzPageIndex]="paginationUnique.pag"
                                    [nzPageSize]="paginationUnique.regxpag" [nzTotal]="paginationUnique.totalrows"
                                    nzResponsive="true" [nzShowTotal]="rangeTemplate"
                                    (nzPageIndexChange)="paginationUniqueChange($event)">
                                </nz-pagination>
                                <ng-template #rangeTemplate let-range="range" let-total>
                                    {{ range[0] }}-{{ range[1] }}
                                    {{'ADMIN.MY_PAYMENT_LINKS.INFO.PAGINATION_OF' | translate}} {{ total }}
                                    {{'ADMIN.MY_PAYMENT_LINKS.INFO.PAGINATION_RESULTS' | translate}}
                                </ng-template>
                            </div>
                        </div>
                        <div nz-row nzAlign="middle" nzJustify="center" class="footer" style="margin-top: 40px;"
                            nzType="flex">
                            {{'ADMIN.MY_PAYMENT_LINKS.CARD_FOOTER' | translate}}
                        </div>
                    </div>
                </div>
            </nz-card>
        </div>
        <div nz-row style="margin-bottom: 25px;" nzGutter="8" nzAlign="middle" nzJustify="center" nzType="flex">
            <nz-card class="full-width">
                <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                    <div nz-col [nzSpan]="24">
                        <div nz-row nzAlign="middle" nzJustify="space-between" nzType="flex">
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
                                <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                                    <span
                                        class="red title bold">{{'ADMIN.MY_PAYMENT_LINKS.MULTIPLE_CARD_TITLE' | translate}}</span>
                                </div>
                                <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                                    <span
                                        class="red title">{{'ADMIN.MY_PAYMENT_LINKS.MULTIPLE_CARD_SUBTITLE' | translate}}:</span>
                                </div>
                            </div>
                            <div nz-col [nzXs]="15" [nzSm]="15" [nzMd]="6">
                                <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                    <button nzSize="small" nz-button nzType="primary"
                                        (click)="getMultiple(0)" [ngClass]="multipleLastMonth? 'button-gray': 'button-red'">
                                        {{'ADMIN.MY_PAYMENT_LINKS.BUTTON.ALL' | translate}}
                                    </button>
                                    <button nzSize="small" nz-button nzType="primary"
                                        (click)="getMultiple(1)" [ngClass]="multipleLastMonth? 'button-red': 'button-gray'">
                                        {{'ADMIN.MY_PAYMENT_LINKS.BUTTON.MONTHLY' | translate}}
                                    </button>
                                </div>
                            </div>
                            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="3">
                            </div>
                            <div nz-col [nzXs]="9" [nzSm]="9" [nzMd]="3">
                                <div nz-row nzAlign="top" nzJustify="end" nzType="flex">
                                    <nz-select class="full-width" [(ngModel)]="selectedMultipleCurrency"
                                        (ngModelChange)="multipleCurrencyChange($event)">
                                        <ng-container *ngFor="let item of accountCurrencyList">
                                            <nz-option [nzValue]="item" [nzLabel]="item">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                            </div>
                        </div>
                        <div nz-row style="margin-top: 25px;">
                            <nz-table [nzScroll]="{ x: '928px' }" #paymentlinkMultipleTable nzFrontPagination="false"
                                nzSize="default" [nzData]="paymentLinkMultipleList">
                                <thead>
                                    <tr>
                                        <th nzAlign="center">{{'ADMIN.MY_PAYMENT_LINKS.TABLE_HEADER.QR' | translate}}
                                        </th>
                                        <th>{{'ADMIN.MY_PAYMENT_LINKS.TABLE_HEADER.ID' | translate}}</th>
                                        <th>{{'ADMIN.MY_PAYMENT_LINKS.TABLE_HEADER.DATE' | translate}}</th>
                                        <th style="width: 15%;">
                                            {{'ADMIN.MY_PAYMENT_LINKS.TABLE_HEADER.DETAIL' | translate}}</th>
                                        <th style="width: 35%;">
                                            {{'ADMIN.MY_PAYMENT_LINKS.TABLE_HEADER.LINK' | translate}}</th>
                                        <th nzAlign="center">
                                            {{'ADMIN.MY_PAYMENT_LINKS.TABLE_HEADER.PAYMENT_STATE' | translate}}</th>
                                        <th nzAlign="center">
                                            {{'ADMIN.MY_PAYMENT_LINKS.TABLE_HEADER.AMOUNT' | translate}}</th>
                                        <th nzAlign="center">
                                            {{'ADMIN.MY_PAYMENT_LINKS.TABLE_HEADER.ACTIVITY' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let paymentlink of paymentlinkMultipleTable.data">
                                        <td nzAlign="center">
                                            <button nzSize="small" nz-button nzType="primary"
                                                (click)="showQr(paymentlink, qrModalTemplate)">
                                                <i nz-icon nzType="qrcode"></i>
                                            </button>
                                        </td>
                                        <td>{{ paymentlink.id | formatNumber:6 }}</td>
                                        <td>{{ paymentlink.date }}</td>
                                        <td nz-tooltip nzTooltipTitle="{{paymentlink.description}}" style="width: 15%;">{{ paymentlink.description | wordTruncate:15 }}</td>
                                        <td style="width: 35%;">
                                            <!-- <a (click)="showPaymentLink(paymentlink, linkInfoModalTemplate)"> -->
                                            {{ externalLink.PAGAPE + paymentlink.link }}
                                            <!-- </a> -->
                                        </td>
                                        <td nzAlign="center">
                                            <ng-container *ngIf="paymentlink.paid">
                                                <span class="badge badge-green">
                                                    {{'ADMIN.MY_PAYMENT_LINKS.BADGE.PAID' | translate}}
                                                </span>
                                            </ng-container>
                                            <ng-container *ngIf="!paymentlink.paid && !paymentlink.expired">
                                                <span class="badge badge-red">
                                                    {{'ADMIN.MY_PAYMENT_LINKS.BADGE.PENDING' | translate}}
                                                </span>
                                            </ng-container>
                                            <ng-container *ngIf="!paymentlink.paid && paymentlink.expired">
                                                <span class="badge badge-gray">
                                                    {{'ADMIN.MY_PAYMENT_LINKS.BADGE.EXPIRED' | translate}}
                                                </span>
                                            </ng-container>
                                        </td>
                                        <td nzAlign="right">{{ paymentlink.amount }}</td>
                                        <td nzAlign="center">
                                            <ng-container *ngIf="!paymentlink.expired">
                                                <nz-switch nzSize="small" [ngModel]="paymentlink.enable"
                                                    [nzControl]="true"
                                                    (click)="changeStatusPaymentLink(paymentlink, multiple)">
                                                </nz-switch>
                                            </ng-container>
                                            <ng-container *ngIf="paymentlink.expired">
                                                <i class="center" style="font-size: 15px; color: #969696" nz-icon
                                                    nzType="history" nzTheme="outline"></i>
                                            </ng-container>
                                        </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                            <div nz-row style="margin-top: 40px;" nzAlign="middle" nzJustify="center" nzType="flex">
                                <nz-pagination nzSize="small" nzAlign="center" [nzPageIndex]="paginationMultiple.pag"
                                    [nzPageSize]="paginationMultiple.regxpag" [nzTotal]="paginationMultiple.totalrows"
                                    nzResponsive="true" [nzShowTotal]="rangeTemplate"
                                    (nzPageIndexChange)="paginationMultipleChange($event)">
                                </nz-pagination>
                                <ng-template #rangeTemplate let-range="range" let-total>
                                    {{ range[0] }}-{{ range[1] }}
                                    {{'ADMIN.MY_PAYMENT_LINKS.INFO.PAGINATION_OF' | translate}} {{ total }}
                                    {{'ADMIN.MY_PAYMENT_LINKS.INFO.PAGINATION_RESULTS' | translate}}
                                </ng-template>
                            </div>
                        </div>
                        <div nz-row nzAlign="middle" nzJustify="center" class="footer" style="margin-top: 40px;"
                            nzType="flex">
                            {{'ADMIN.MY_PAYMENT_LINKS.CARD_FOOTER' | translate}}
                        </div>
                    </div>
                </div>
            </nz-card>
        </div>
    </div>
</div>

<!-- <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <nz-card style="width:100%;">
            <nz-divider nzText="{{'ADMIN.MENU.MY_PAYMENT_LINKS' | translate}}" nzOrientation="left"></nz-divider>
            <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                <div nz-col [nzSpan]="24">
                    <nz-table #paymentlinkTable nzFrontPagination="false" nzSize="middle" [nzData]="paymentLinkList"
                        nzTableLayout="fixed">
                        <thead>
                            <tr>
                                <th>{{'ADMIN.PAYMENT_LINK.CODE' | translate}}</th>
                                <th>{{'ADMIN.PAYMENT_LINK.DETAIL' | translate}}</th>
                                <th nzAlign="center">{{'ADMIN.PAYMENT_LINK.LINK' | translate}}</th>
                                <th>{{'ADMIN.PAYMENT_LINK.STATUS' | translate}}</th>
                                <th nzAlign="center">{{'ADMIN.LABEL_ACTIONS' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let paymentlink of paymentlinkTable.data">
                                <td>{{ paymentlink.linkData.code }}</td>
                                <td>{{ paymentlink.linkData.shortComment }}</td>
                                <td>
                                    <a (click)="showPaymentLink(paymentlink, linkInfoModalTemplate)">
                                        {{ externalLink.PAGAPE + paymentlink.link }}
                                    </a>
                                </td>
                                <td>
                                    <nz-switch [ngModel]="paymentlink.status" [nzControl]="true"
                                        (click)="changeStatus(paymentlink)"></nz-switch>
                                </td>
                                <td nzAlign="center">
                                    <nz-button-group>
                                        <button nz-button nzType="primary"
                                            (click)="showQr(paymentlink, qrModalTemplate)">
                                            <i nz-icon nzType="qrcode"></i>
                                        </button>
                                      
                                    </nz-button-group>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                    <div nz-row style="margin-top: 12px;" nzAlign="middle" nzJustify="end" nzType="flex">
                        <div nz-col [nzSpan]="24">
                            <nz-pagination nzAlign="center" [nzPageIndex]="pagination.pag"
                                [nzPageSize]="pagination.regxpag" [nzTotal]="pagination.totalrows" nzResponsive="true"
                                [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="paginationChange($event)">
                            </nz-pagination>
                            <ng-template #rangeTemplate let-range="range" let-total>
                                {{ range[0] }}-{{ range[1] }} of {{ total }} items </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </nz-card>
    </div>
</div> -->

<ng-template #qrModalTemplate let-params let-ref="modalRef">
    <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
        <div nz-col [nzSpan]="20">
            <qrcode [qrdata]="qrModalLink" [width]="getQrWidth()" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
    </div>
</ng-template>

<!-- <ng-template #linkInfoModalTemplate let-params let-ref="modalRef">
    <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
        <div nz-col [nzSpan]="17">
            <nz-form-item>
                <nz-form-label nzJustify="start" [nzSm]="11" [nzXs]="24">
                    {{'ADMIN.PAYMENT_LINK.COMMENTS' | translate}}
                </nz-form-label>
                <nz-form-control [nzSm]="13" [nzXs]="24">
                    <input nz-input [value]="modalData.linkData.comment" readonly />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzJustify="start" [nzSm]="11" [nzXs]="24">
                    {{'ADMIN.PAYMENT_LINK.AMOUNT' | translate}}
                </nz-form-label>
                <nz-form-control [nzSm]="13" [nzXs]="24">
                    <nz-form-control>
                        <input nz-input value='{{modalData.linkData.currency}} {{modalData.linkData.amount}}'
                            readonly />
                    </nz-form-control>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzJustify="start" [nzSm]="11" [nzXs]="24">
                    {{'ADMIN.PAYMENT_LINK.SINGLE_PAYMENT' | translate}}
                </nz-form-label>
                <nz-form-control [nzSm]="13" [nzXs]="24">
                    <nz-switch [ngModel]="modalData.linkData.singlePayment" [nzControl]="true"></nz-switch>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzJustify="start" [nzSm]="11" [nzXs]="24">
                    {{'ADMIN.PAYMENT_LINK.EXPIRATION_DATE' | translate}}
                </nz-form-label>
                <nz-form-control [nzSm]="13" [nzXs]="24">
                    <input nz-input [value]="modalData.linkData.expirationDate | date : 'y-MM-dd hh:mm a'" readonly>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="11" [nzXs]="24">
                    {{'ADMIN.PAYMENT_LINK.SINGLE_CLIENT' | translate}}
                </nz-form-label>
                <nz-form-control [nzSm]="13" [nzXs]="24">
                    <nz-switch [ngModel]="modalData.linkData.singleClient" [nzControl]="true"></nz-switch>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="11" [nzXs]="24">
                    {{'ADMIN.PAYMENT_LINK.NOTIFICATION' | translate}}
                </nz-form-label>
                <nz-form-control [nzSm]="13" [nzXs]="24">
                    <input nz-input [value]="modalData.linkData.notificationType" readonly>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</ng-template> -->