.blue-text{
    color: rgb(82, 140, 245);;
}

// ::ng-deep .ant-switch-checked {
//     background-color: green;
// }
.ant-form-item-label{
    text-align: left;
}

::ng-deep .ant-divider-horizontal {
    margin-top: 0px;
    height: 4px;
    background: rgb(82, 140, 245);
}

nz-divider.fixed{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 2px;
}

nz-divider.green{
    background: #00FFBB;
}

nz-divider.red{
    background: rgb(255, 86 , 86);
}

nz-divider.gray{
    background: #E4E4E4;
}

::ng-deep .ant-table-thead > tr > th, ::ng-deep .ant-table-tbody > tr > td {
    padding: 4px;
}

::ng-deep .ant-card-body {
    padding-top: 20px;
    padding-bottom: 24px;
    height: 100%;
}

.red{
    color: rgb(255, 86 , 86);
}

.blue{
    color: rgb(82, 140, 245);    
}

.gray{
    color: #E4E4E4;
}

.green{
    color: #00FFBB
}

.title{
    font-size: 20px;
    white-space: normal;
}

.subtitle{
    font-size: 15px;
    white-space: normal;
}

.footer{
    font-size: 11px;
    white-space: normal;
}

.bold{
    font-weight: bold;
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

.badge{
    border-radius: 15px;
    padding: 1px 10px;
    color: white;
    font-size: 10px;
}
.badge-red{
    background: rgb(255, 86 , 86);
}
.badge-green{
    background: #00FFBB
}
.badge-gray{
    background: #E4E4E4;
}

.center{
    display: flex;
    justify-content: center;
}

.center-text{
    text-align: center;
}