.common-container {
    width: 100%;
    font-size: 15px;    
  }

  h3 {
    margin-bottom: 0px;
    color: #3F3f40;
    font-size: 24px;
  }

  h4 {
    margin-bottom: 0px;
    color: rgb(32, 33, 36);
    font-size: 12px;
    letter-spacing: .1px;
    line-height: 1.5;
  }

  .common-titles{
      text-align: center;
      margin-bottom: 24px;
      padding-bottom: 8px;
  }

  .center{
    text-align: center;
  }