<div nz-row style="margin-top: 30px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <span class="blue title"><span class="bold">{{'ADMIN.MENU.PAYMENT_LINK' | translate}}</span> - {{'ADMIN.PAYMENT_LINK.DESCRIPTION' | translate}}</span>
        <nz-divider></nz-divider>
    </div>
</div>
<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <nz-card class="full-width">
            <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                <div nz-col [nzSpan]="23">
                    <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                        <span class="title bold">{{'ADMIN.PAYMENT_LINK.CARD_TITLE' | translate}}</span>
                    </div>
                    <nz-alert nzType="info"
                        nzDescription="{{'ADMIN.PAYMENT_LINK.ALERT.MENU_DESCRIPTION' | translate}}" nzShowIcon>
                    </nz-alert>
                    <!-- <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                        <span class="subtitle">{{'ADMIN.PAYMENT_LINK.CARD_SUBTITLE' | translate}}</span>
                    </div> -->
                    <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="24">
                            <img style="max-height: 100%; max-width: 100%;" id="mydiv" (load)="getCoords($event)"
                                (window:resize)="getCoords($event)"
                                src="../../../../assets/img/portal/paymentLinkBG.png" usemap="#mapname" />
                            <map name="mapname">
                                <area shape="rect" [coords]="coordsButton1"
                                    [routerLink]="['/admin/paymentlink/generate/unique']">
                                <area shape="rect" [coords]="coordsButton2"
                                    [routerLink]="['/admin/paymentlink/generate/multiple']">
                            </map>
                        </div>                        
                    </div>
                    <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                        <div nz-col class="center-text button-margin" [nzXs]="24" [nzSm]="12" [nzMd]="0">
                            <a [routerLink]="['/admin/paymentlink/generate/unique']">
                                <img style="max-height: 100%; max-width: 100%;" src="../../../../assets/img/portal/buttonUniqueLink.png"/>
                            </a>
                        </div>
                        <div nz-col class="center-text button-margin" [nzXs]="24" [nzSm]="12" [nzMd]="0">
                            <a [routerLink]="['/admin/paymentlink/generate/multiple']">
                                <img style="max-height: 100%; max-width: 100%;" src="../../../../assets/img/portal/buttonMultipleLink.png"/>
                            </a>
                        </div>
                    </div>
                    <div nz-row nzAlign="middle" nzJustify="center" class="footer" style="margin-top: 20px;"
                        nzType="flex">
                        {{'ADMIN.PAYMENT_LINK.MENU_CARD_FOOTER' | translate}}
                    </div>
                </div>
            </div>
        </nz-card>
    </div>
</div>