::ng-deep .ant-divider-horizontal {
    margin-top: 0px;
    height: 4px;
    background: rgb(82, 140, 245);
}

.blue{
    color: rgb(82, 140, 245);    
}

.title{
    font-size: 20px;
    white-space: normal;
}

.subtitle{
    font-size: 15px;
    white-space: normal;
}

.footer{
    font-size: 11px;
    white-space: normal;
}

.bold{
    font-weight: bold;
}

.full-width{
    width: 100%;
}

.center-text{
    text-align: center;
}

.button-margin{
    margin-bottom: 10px;
    margin-top: 10px;
}