<div *ngIf="isLoading$ | async" class="overlay">
    <!-- <nz-spin nzTip="Loading..." nzSimple [nzSize]="'large'"></nz-spin> -->
    <ng-template #indicatorTemplate><i nz-icon nzType="loading"></i></ng-template>
    <nz-spin nzSimple [nzIndicator]="indicatorTemplate"> </nz-spin>
</div>  