nz-spin {
    display: inline-block;
    margin-right: 16px;
}

::ng-deep .ant-spin-lg .ant-spin-dot {
    font-size: 60px;
}

::ng-deep .ant-spin-lg .ant-spin-dot i {
    width: 30px;
    height: 30px;
}
::ng-deep .ant-spin {
    color: rgb(70, 77, 83);
    font-size: 25px;
}
::ng-deep .ant-spin-dot-item {
    background-color: rgb(255, 104, 97);
    opacity: 1;
}

i {
	font-size: 60px;
	color:  rgb(255, 104, 97);
    opacity: 1;
}

:host {    
	.overlay {
		background-color: rgb(70, 77, 83, 0.75);
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		z-index: 99999;

		img {
			margin-left: calc(100vw - 100%);
			width: 90px;
			margin-bottom: 30px;
    }
    
		::ng-deep {
			[role="progressbar"] {
				margin-left: calc(100vw - 100%);
			}
			.mat-progress-spinner circle, .mat-spinner circle {
				// brand color
				stroke: #5d78ff;
			}
		}
	}
}