// ::ng-deep .ant-input-group-addon:first-child{
//     border-radius: 0;
// }

// ::ng-deep .ant-input-group > .ant-input-affix-wrapper:not(:first-child) .ant-input{
//     border-radius: 0;
// }

// ::ng-deep .ant-input-group > .ant-input:last-child, .ant-input-group-addon:last-child{
//     border-radius: 0;
// }

// ::ng-deep .ant-input, ::ng-deep .ant-select-selection{
//     border-radius: 0;
// }

::ng-deep a.link{
    padding-left: 0;
}

::ng-deep .ant-card {
    border-radius: 20px;
}