<div class="admin-container" id="admin">
    <nz-layout class="admin-content">
        <nz-sider nzBreakpoint="lg" [nzWidth]="250" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
            <div nz-row style="margin-top: 20px; margin-bottom: 25px;" nzAlign="middle" nzJustify="center"
                nzType="flex">
                <div nz-col [nzSpan]="1">
                </div>
                <div nz-col class="center" [nzSpan]="7">
                    <img style="max-height: 50%; max-width: 65%;" src="../../assets/img/portal/logoSider.png" alt="" />
                </div>
                <div nz-col [nzSpan]="1">
                </div>
                <div nz-col class="center user-fix" [ngClass]="isCollapsed?'u-collapsed':''" [nzXs]="15" [nzSm]="15">
                    <div nz-row style="padding-right: 5px;">
                        <div nz-col class="center" [nzXs]="24" [nzSm]="24">
                            <span class="label-fix" style="font-size: 1.4em;">{{ accountPpe.userName }}</span>
                        </div>
                    </div>
                    <div nz-row style="padding-right: 5px;">
                        <div nz-col style="overflow: hidden; text-overflow: ellipsis;" [nzXs]="24" [nzSm]="24">
                            <span nz-tooltip nzTooltipTitle="{{uMail}}" style="font-size: 0.75em;">{{uMail}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="logo" [ngClass]="isCollapsed?'logo-collapsed':'logo-expanded'">
            </div> -->
            <div nz-row style="margin-top: 20px; margin-bottom: 25px;" nzAlign="middle" nzJustify="center"
                nzType="flex">
                <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
                    <ng-container *ngFor="let item of menuItems">
                        <ng-container *ngIf="item.type === menuTypes.MENU">
                            <li nz-menu-item nz-tooltip nzPlacement="right" nzMatchRouter>
                                <a href="javascript:;" [routerLink]="[item.url]"
                                    [ngClass]="item.highlight? 'green': 'white'">
                                    <i nz-icon nzType="{{ item.icon }}"></i>
                                    <span [ngClass]="isCollapsed?'u-collapsed':''">
                                        {{ item.label | translate }}
                                    </span>                                    
                                </a>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="item.type === menuTypes.SUBMENU">
                            <li nz-submenu nzTitle="{{ item.label | translate }}" nzIcon="{{ item.icon }}"
                                [(nzOpen)]="item.open">
                                <ul>
                                    <ng-container *ngFor="let children of item.childrens">
                                        <li nz-menu-item class="menu-item-fixed" nzMatchRouter>
                                            <a href="javascript:;" style="color: white;" [routerLink]="[children.url]">
                                                {{ children.label | translate }}
                                            </a>
                                        </li>
                                    </ng-container>
                                </ul>
                            </li>
                        </ng-container>
                    </ng-container>
                    <li nz-menu-item nz-tooltip nzPlacement="right">
                        <a href="javascript:;" (click)="logout()" style="color: white;">
                            <i nz-icon nzType="{{ menuLogout.icon }}"></i>
                            <span [ngClass]="isCollapsed?'u-collapsed':''">
                                {{ menuLogout.label | translate }}
                            </span>                            
                        </a>
                    </li>                
                </ul>
                <button class="button-green" [ngClass]="isCollapsed?'u-collapsed':''"
                    style="color: black; font-size: 12px; font-weight: bold; white-space: normal;" nz-button
                    nzType="primary">
                    {{'ADMIN.BUTTON.COMMEND_US' | translate}}
                </button>
            </div>
            <div nz-row style="bottom: 20px; position: absolute;" nzAlign="middle" nzJustify="center" nzType="flex">
                <div nz-col class="center" [nzSpan]="24">
                    <img style="max-height: 50%; max-width: 65%;" src="../../assets/img/portal/logoSiderFooter.png"
                        alt="" />
                </div>
            </div>
        </nz-sider>
        <nz-layout>
            <!-- <nz-header>
                <div style="display: flex;  justify-content:space-between; align-items:center;">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                        (click)="isCollapsed = !isCollapsed">
                    </i>
                    <div>
                        <button nz-button nzType="primary" class="primary"
                            (click)="register()">{{'ADMIN.BUTTON_REGISTER' | translate}}<i nz-icon
                                [nzType]="'save'"></i></button>
                        <nz-select nzShowSearch [(ngModel)]="selectedLanguage" (ngModelChange)="changeLanguage()"
                            style="margin: 10px;">
                            <nz-option nzCustomContent nzLabel="{{'ADMIN.LANGUAGE_SPANISH' | translate}}" nzValue="es">
                                <i nz-icon nzType="flag"></i> {{'ADMIN.LANGUAGE_SPANISH' | translate}}
                            </nz-option>
                            <nz-option nzCustomContent nzLabel="{{'ADMIN.LANGUAGE_ENGLISH' | translate}}" nzValue="en">
                                <i nz-icon nzType="flag"></i> {{'ADMIN.LANGUAGE_ENGLISH' | translate}}
                            </nz-option>
                        </nz-select>
                        <nz-avatar nzIcon="user"
                            style="background-color:rgb(82, 140, 245);; margin-right: 10px; cursor: pointer;"
                            (click)="changeLanguage()"></nz-avatar>
                        <nz-avatar nzIcon="logout"
                            style="background-color: rgb(255, 104, 97); margin-right: 10px; cursor: pointer;"
                            (click)="logout()">
                        </nz-avatar>
                    </div>
                </div>
            </nz-header> -->
            <nz-content class="fixed-content">
                <nz-breadcrumb>
                    <nz-breadcrumb-item></nz-breadcrumb-item>
                </nz-breadcrumb>
                <router-outlet></router-outlet>
                <!-- <nz-card style="width: 300px;margin-top: 16px" *ngIf="user">
                        <nz-card-meta [nzAvatar]="avatarTemplate" [nzTitle]="user.displayName"
                            [nzDescription]="user.phoneNumber">
                        </nz-card-meta>
                        <nz-tag *ngIf="user.emailVerified" [nzColor]="'green'">Email verificado</nz-tag>
                        <nz-tag *ngIf="!user.emailVerified" [nzColor]="'red'">Email no verificado</nz-tag>
                        <ng-template #avatarTemplate>
                            <nz-avatar [nzShape]="'square'" [nzSize]="64" [nzIcon]="'user'"></nz-avatar>
                        </ng-template>
                    </nz-card> -->

            </nz-content>
            <nz-footer>©2020 Olympus-cloud</nz-footer>
        </nz-layout>
    </nz-layout>
</div>

<!-- <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Home' : ''">
    <i nz-icon nzType="mail"></i>
    <span><a href="javascript:;" [routerLink]="['/admin/home']" style="color: white;">Home</a></span>
</li>
<li nz-submenu nzTitle="Usuarios" nzIcon="user">
    <ul>
        <li nz-menu-item><a href="javascript:;" [routerLink]="['/admin/users']">Usuarios Activos</a>
        </li>
    </ul>
</li>
<li nz-submenu nzTitle="Facturación" nzIcon="credit-card">
    <ul>
        <li nz-menu-item><a href="javascript:;" [routerLink]="['/admin/billing/shopping']">Comprar
                Aplicaciones</a>
        </li>
        <li nz-menu-item><a href="javascript:;" [routerLink]="['/admin/billing/applications']">Aplicaciones Activas</a>
        </li>
        <li nz-menu-item><a href="javascript:;" [routerLink]="['/admin/billing/payments']">Recibos y
                Pagos</a>
        </li>
    </ul>
</li>
<li nz-submenu nzTitle="Soporte" nzIcon="team">
    <ul>
        <li nz-menu-item><a href="javascript:;" [routerLink]="['/admin/support/generaterequeriments']">Generar
                Requerimiento</a>
        </li>
        <li nz-menu-item><a href="javascript:;" [routerLink]="['/admin/support/requests']">Mis
                Requerimientos</a>
        </li>
    </ul>
</li>
<li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Setup' : ''">
    <i nz-icon nzType="setting"></i>
    <span><a href="javascript:;" [routerLink]="['/admin/setup']" style="color: white;">Setup</a></span>
</li>
<li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Detalles de la Cuenta' : ''">
    <i nz-icon nzType="file"></i>
    <span><a href="javascript:;" [routerLink]="['/admin/account']" style="color: white;">Detalles de la
            Cuenta</a></span>
</li> -->