.admin-container {
  // min-width: 100vw;
  min-height: 100vh;
  // max-width: 1300px;
  margin: auto;
  padding: 0;
  //background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fixed-content{
  max-width: 1200px;
}
.logo {
  background-image: url("../../assets/img/portal/logoSider.png");
  // background-color: white;
  background-repeat: no-repeat;
  background-position: left center;
  height: 64px;
  width: 100%;
  cursor: pointer;
}
.logo-expanded {
  background-position: center;
  background-size: 60%;
}

.logo-collapsed {
  background-position: center;
  background-size: 90%;
}

.admin-content{
  height: 100%;
  width: 100%;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

//.logo {
//  height: 32px;
//  background: rgba(255, 255, 255, 0.2);
//  margin: 16px;
//}

nz-header {
  background: #fff;
  padding-right: 60px;
  padding-left: 0px;
}

.layout{
  min-height: 100vh;
}

nz-content {
  margin: 0 0px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  //min-height: 360px;
}

nz-footer {
  text-align: center;
}

nz-select {
  width: 100px;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-fix{
  white-space: normal;
  display: block;
  color: white;
}

.u-collapsed {
  display: none;
}

.label-fix{
  white-space: normal;
  width: 100%;
  word-break: break-word;
}

.green{
  color: #00FFBB !important;
}

.white{
  color: white !important;
}

.ant-menu-item-selected a{
  color: white !important;
}

.menu-item-fixed{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.ant-menu-dark{
  color: white !important;
}

