::ng-deep .ant-divider-horizontal {
    margin-top: 0px;
    height: 4px;
    background: rgb(82, 140, 245);
}
.blue{
    color: rgb(82, 140, 245);    
}
.title{
    font-size: 20px;
    white-space: normal;
}
@media screen and (max-width: 575px) {
    .help-footer{
        font-size: 11px;
        white-space: normal;
    }
    .spaced{
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
@media screen and (min-width: 576px) {
    .help-footer{
        font-size: 18px;
        white-space: normal;
    }
    .spaced{
        margin-top: 18px;
        margin-bottom: 18px;
    }
}
@media screen and (min-width: 768px) {
    .help-footer{
        font-size: 27px;
        white-space: normal;
    }
    .spaced{
        margin-top: 26px;
        margin-bottom: 26px;
    }
}

.bold{
    font-weight: bold;
}
.full-width{
    width: 100%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    display: flex;
    justify-content: flex-end;
}
