<div nz-row style="margin-top: 30px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <span class="blue title"><span class="bold">{{'ADMIN.MENU.HELP' | translate}}</span> - {{'ADMIN.HELP.DESCRIPTION' | translate}}</span>
        <nz-divider></nz-divider>
    </div>
</div>

<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
            <nz-card class="full-width">
                <div nz-row class="spaced" nzAlign="middle" nzJustify="center" nzType="flex">
                    <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="3">
                        <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                            <div nz-col class="right spaced" [nzSpan]="24">
                                <img style="max-height: 30%; max-width: 30%;" src="../../../../assets/img/portal/bodyHelpSms.png"
                                alt="" />
                            </div>
                        </div>
                        <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                            <div nz-col class="right spaced" [nzSpan]="24">
                                <img style="max-height: 30%; max-width: 30%;" src="../../../../assets/img/portal/bodyHelpPhone.png"
                                alt="" />
                            </div>
                        </div>
                        <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                            <div nz-col class="right spaced" [nzSpan]="24">
                                <img style="max-height: 30%; max-width: 30%;" src="../../../../assets/img/portal/bodyHelpMail.png"
                                alt="" />
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzXs]="8" [nzSm]="8" [nzMd]="8">
                        <div nz-col class="center" [nzSpan]="24">
                            <img style="max-height: 80%; max-width: 70%;" src="../../../../assets/img/portal/bodyHelp.png"
                            alt="" />
                        </div>
                    </div>
                    <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="3">
                    </div>
                </div>
                <div nz-row class="spaced" nzAlign="middle" nzJustify="center" nzType="flex">
                    <span class="blue bold help-footer">{{'ADMIN.HELP.INFO.CONTACT_US' | translate}}</span>
                </div>
                <div nz-row class="spaced" nzAlign="middle" nzJustify="center" nzType="flex">
                    <div nz-col class="center" [nzSpan]="24">
                        <img style="max-height: 50%; max-width: 15%;" src="../../../../assets/img/portal/logoHelpFooter.png"
                            alt="" />
                    </div>
                </div>
            </nz-card>
        </div>
    </div>
</div>