[nzHoverable] {
    cursor: auto;
    &:hover {   
        box-shadow:5px 10px 8px #888888;
    }
}

i{
    font-size: 20px;
}

.password{
    -webkit-text-security:disc; 
}

.ant-form-item-label{
    text-align: left;
}

.currencyselect {
    width: 20% !important;
    // width: 110px !important;
}

td nz-button-group [nz-button] {
    margin-right: 5px;
}

nz-upload{
    justify-content: center;
    display: flex;
}
:host ::ng-deep .avatar-uploader > .ant-upload {
    width: 500px;
    height: 500px;
}

.right-button{
    margin-left: 10px;;
}

.logo-container{
    width: 240px;
    height: 240px;
    border: 1px dashed #d9d9d9;
    background-color: #fafafa;
    display: table-cell;                   
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: rgba(0,0,0,.65);
}
.logo-container:hover {
    border-color: #1890ff !important;
}