<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <nz-card style="width:100%;">
            <nz-divider nzText="{{'ADMIN.MENU.SETTINGS' | translate}} - {{'ADMIN.MENU.SERVICE_SETTINGS' | translate}}"
                nzOrientation="left"></nz-divider>
            <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                <div nz-col [nzSpan]="22">
                    <nz-tabset nzSize="large">
                        <nz-tab [nzTitle]="'ADMIN.MENU.PAYMENT_LINK' | translate">
                            <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                                <div nz-col [nzSm]="15" [nzXs]="15" [nzXl]="15" [nzXXl]="12">
                                    <form nz-form style="margin-top: 20px;">
                                        <nz-form-item>
                                            <nz-form-label nzJustify="start" [nzSm]="11" [nzXs]="24">
                                                {{'ADMIN.PAYMENT_LINK.DETAIL' | translate}}
                                            </nz-form-label>
                                            <nz-form-control [nzSm]="13" [nzXs]="24">
                                                <input nz-input [formControl]="detail" />
                                            </nz-form-control>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <nz-form-label nzJustify="start" [nzSm]="11" [nzXs]="24">
                                                {{'ADMIN.PAYMENT_LINK.AMOUNT' | translate}}
                                            </nz-form-label>
                                            <nz-form-control [nzSm]="13" [nzXs]="24">
                                                <div nz-row nzAlign="middle">
                                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzXl]="6"
                                                        [nzXXl]="6">
                                                        <nz-form-control>
                                                            <nz-select [formControl]="currency">
                                                                <ng-container *ngFor="let item of accountCurrencyList">
                                                                    <nz-option [nzValue]="item" [nzLabel]="item"></nz-option>
                                                                </ng-container> 
                                                            </nz-select>
                                                        </nz-form-control>
                                                    </div>
                                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="18" [nzXl]="18"
                                                        [nzXXl]="18">
                                                        <nz-form-control>
                                                            <input nz-input [formControl]="amount" />
                                                        </nz-form-control>
                                                    </div>
                                                </div>
                                            </nz-form-control>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <nz-form-label nzJustify="start" [nzSm]="11" [nzXs]="24">
                                                {{'ADMIN.PAYMENT_LINK.SINGLE_PAYMENT' | translate}}
                                            </nz-form-label>
                                            <nz-form-control [nzSm]="13" [nzXs]="24">
                                                <nz-switch [formControl]="singlePayment"></nz-switch>
                                            </nz-form-control>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <nz-form-label nzJustify="start" [nzSm]="11" [nzXs]="24">
                                                {{'ADMIN.PAYMENT_LINK.EXPIRATION_DATE' | translate}}
                                            </nz-form-label>
                                            <nz-form-control [nzSm]="13" [nzXs]="24">
                                                <nz-switch [formControl]="expiration"></nz-switch>
                                            </nz-form-control>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <nz-form-label [nzSm]="11" [nzXs]="24">
                                                {{'ADMIN.PAYMENT_LINK.SINGLE_CLIENT' | translate}}
                                            </nz-form-label>
                                            <nz-form-control [nzSm]="13" [nzXs]="24">
                                                <nz-switch [formControl]="singleClient"></nz-switch>
                                            </nz-form-control>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <nz-form-label [nzSm]="11" [nzXs]="24">
                                                {{'ADMIN.PAYMENT_LINK.NOTIFICATION' | translate}}
                                            </nz-form-label>
                                            <nz-form-control [nzSm]="13" [nzXs]="24">
                                                <nz-switch [formControl]="notification"></nz-switch>
                                            </nz-form-control>
                                            <ng-container *ngIf="notification.value">
                                                <nz-form-control [nzOffset]="1" [nzSm]="23" [nzXs]="24">
                                                    <nz-radio-group [formControl]="notificationType">
                                                        <label nz-radio [ngStyle]="style" nzValue="SMS">SMS</label>
                                                        <label nz-radio [ngStyle]="style" nzValue="EMAIL">EMAIL</label>
                                                        <label nz-radio [ngStyle]="style" nzValue="PUSH">NOTIFICACION
                                                            PUSH</label>
                                                    </nz-radio-group>
                                                </nz-form-control>
                                            </ng-container>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="end" nzType="flex">
                                                <div nz-col>
                                                    <nz-form-control nzAlign="middle" nzType="flex" nzJustify="end">
                                                        <button nz-button nzType="primary" class="primary"
                                                            [nzLoading]="saveLoading" (click)="showConfirm()"
                                                            [disabled]="!paymentlinkForm.valid || paymentlinkForm.disabled">{{'ADMIN.CONFIGURATION.SAVE_DEFAULTS' | translate}}<i
                                                                nz-icon [nzType]="'save'"></i></button>
                                                    </nz-form-control>
                                                </div>
                                            </div>
                                        </nz-form-item>
                                    </form>
                                </div>
                            </div>
                        </nz-tab>
                        <nz-tab [nzTitle]="'ADMIN.MENU.SETTINGS_LOGO' | translate">
                            <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                                <div nz-col [nzSm]="15" [nzXs]="15" [nzXl]="15" [nzXXl]="12">
                                    <div style="margin-top: 20px;" nz-row nzAlign="middle" [nzGutter]="8"
                                        nzJustify="center" nzType="flex">
                                        <nz-upload [(nzFileList)]="fileList" [nzShowUploadList]="false"
                                            [nzBeforeUpload]="beforeUpload">
                                            <div class="logo-container">
                                                <ng-container *ngIf="!logoUrl">
                                                    <i class="upload-icon" nz-icon
                                                        [nzType]="loading ? 'loading' : 'plus'"></i>
                                                    <div class="ant-upload-text">Upload</div>
                                                </ng-container>
                                                <img *ngIf="logoUrl" [src]="logoUrl" style="width: 100%" />
                                            </div>
                                        </nz-upload>
                                    </div>
                                    <div style="margin-top: 10px;" nz-row nzAlign="middle" [nzGutter]="8"
                                        nzJustify="center" nzType="flex">
                                        <button nz-button [nzType]="'primary'" [nzLoading]="uploading"
                                            (click)="handleUpload()" style="margin-top: 16px">
                                            {{'ADMIN.CONFIGURATION.SAVE_IMAGE' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </nz-tab>
                        <!-- <nz-tab nzTitle="TAB3">
                            TAB3
                        </nz-tab> -->
                    </nz-tabset>
                </div>
            </div>
        </nz-card>
    </div>
</div>