<div class="cntm-commons-container ccc-image">

    <div class="cntm-commons-main-content">
        <nz-card >
            <p>
                <span style="display:inline-block; text-align: right; width: 100%;">
                    <a style="color: rgb(70, 77, 83);">
                        <i class="clickable" nz-icon nzType="close" nzTheme="outline" (click)="close()"></i>
                    </a>
                </span>
            </p>
            <div nz-row nzJustify="center" nzType="flex" style="margin-bottom: 30px;">
                <div nz-col class="header center" nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6" nzXXl="6">
                    <img src="../../assets/img/portal/pagape-logo4.png"
                        alt="" />
                </div>
            </div>            
            <router-outlet></router-outlet>                     
        </nz-card>
    </div>

    <div class="footer">
        <a (click)="changeLanguage()"><i nz-icon nzType="global" nzTheme="outline"></i></a>
        <a>Ayuda</a>
        <a>Privacidad</a>
        <a>Condiciones</a>
    </div>

</div>

<script>
    (function () {
        var progress = document.querySelector('progress-bar'),
            complete = 0;

        var progressInterval = setInterval(() => {
            complete += 1;

            if (complete <= 100) {
                progress.setAttribute('complete', complete);
            } else {
                clearInterval(progressInterval);
            }
        }, 100);
    })();
</script>
