.cntm-commons-container {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  //background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ccc-image {
  background-image: url('../../assets/img/portal/validation.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  //
  background-attachment: fixed;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 28px;
  line-height: 28px;
  background-color: rgba(0,0,0,.6);
  color: white;
  text-align: right;
  padding-right: 10px;
  a {
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
  }
  a:hover{
    text-decoration: underline;
  }
}

@media (min-width: 481px) {
  nz-card {
    min-width: 550px;
    max-width: 550px;
  }
}

@media (max-width: 480px) {
  nz-card {
    min-width: 100vw;
    // min-height: 100vh;
  }
}

.logo {
  background-image: url("../../assets/img/portal/pagape-logo2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% !important;
  max-width: 10vw;
  max-height: 10vh;
  width: 100%;
  height: 80px;
}

.logo:focus {
  outline: none;
}


.header{
  height: 100%;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}