.cntm-common-register-container {
    width: 100%;
  
    h3 {
      text-align: center;
      margin-bottom: 8px;
      color: #3F3f40;
      font-size: 24px;
      font-weight: 400;
      line-height: 2.5;
    }
  }