<div class="cntm-common-register-container">
  <h3>{{ 'COMMONS.BILLING.TITLE' | translate }}</h3>
  <!-- <h4 *ngIf="firstState">{{ (firstState.username + '@' + firstState.domain + '.olympus-cloud.com') | lowercase }}</h4> -->
  <!--  <h4>{{ 'COMMONS.PERSONAL.SUBTITLE' | translate }}</h4>-->
</div>
<!-- REGISTER FORM -->
<form nz-form nzLayout="vertical" [formGroup]="billingDataForm" (ngSubmit)="submitForm()">
  <!-- Form item 1 name -->
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'COMMONS.BILLING.NAME_ERROR' | translate" [nzValidateStatus]="name" nzHasFeedback>
      <nz-input-group [nzSize]="inputSize" nzAddOnBeforeIcon="user">
        <input nz-input appAutoFocus formControlName="name" appName [appMaxLength]="MaxLength.NAME" autocomplete=""
          [placeholder]="'COMMONS.BILLING.NAME' | translate" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <!-- Form item 2 email -->
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'COMMONS.BILLING.EMAIL_ERROR' | translate" [nzValidateStatus]="email" nzHasFeedback>
      <nz-input-group [nzSize]="inputSize" nzAddOnBeforeIcon="mail">
        <input nz-input formControlName="email" appMail [appMaxLength]="MaxLength.EMAIL" autocomplete=""
          [placeholder]="'COMMONS.BILLING.EMAIL' | translate" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <label style="padding-left: 12px;" nz-checkbox [(ngModel)]="copyData"
      [ngModelOptions]="{standalone: true}">{{ 'COMMONS.BILLING.COPY' | translate}}</label>
  </nz-form-item>

  <!-- Form item 3 name -->
  <nz-form-item *ngIf="!copyData">
    <nz-form-control [nzErrorTip]="'COMMONS.BILLING.NAME2_ERROR' | translate" [nzValidateStatus]="name2" nzHasFeedback>
      <nz-input-group [nzSize]="inputSize" nzAddOnBeforeIcon="user">
        <input nz-input formControlName="name2" appName [appMaxLength]="MaxLength.NAME" autocomplete=""
          [placeholder]="'COMMONS.BILLING.NAME2' | translate" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <!-- Form item 4 email -->
  <nz-form-item *ngIf="!copyData">
    <nz-form-control [nzErrorTip]="'COMMONS.BILLING.EMAIL2_ERROR' | translate" [nzValidateStatus]="email2"
      nzHasFeedback>
      <nz-input-group [nzSize]="inputSize" nzAddOnBeforeIcon="mail">
        <input nz-input formControlName="email2" appMail [appMaxLength]="MaxLength.EMAIL" autocomplete=""
          [placeholder]="'COMMONS.BILLING.EMAIL2' | translate" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <!-- Form item 5 actions! -->
  <nz-form-item nzType="flex" nzJustify="space-between">
    <nz-form-control>
      <a nz-button nzBlock nzType="link" nzSize="large" tabindex="-1" (click)="back()" *ngIf="!disabled" class="link">
        {{'COMMONS.BILLING.BACK' | translate}}
      </a>
    </nz-form-control>

    <nz-form-control>
      <nz-button-group nzSize="large">
        <!-- <a nz-button (click)="skip()" tabindex="-1" [nzLoading]="disabled">
          {{'COMMONS.BILLING.SKIP' | translate}}
        </a> -->
        <button nz-button nzType="primary" [disabled]="disabled">
          {{'COMMONS.BILLING.NEXT' | translate}}
        </button>
      </nz-button-group>

    </nz-form-control>
  </nz-form-item>
</form>
<div style="min-height: 35px;">
  <nz-alert *ngIf="errorMessage" [nzMessage]="errorMessage | translate" nzType="error" nzCloseable></nz-alert>
</div>