<div class="support" nz-row style="margin-bottom: 8px;" nzJustify="center" nzAlign="middle" nzType="flex">
    <div nz-col [nzSpan]="23">
        <div nz-row style="margin-bottom: 8px;" nzJustify="center" nzAlign="middle" nzType="flex">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
                <div>
                    <img style="max-width: 100%;" src="../../../../assets/img/portal/contact-phone-1.png">
                </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
                <div nz-row style="margin-bottom: 8px;" nzJustify="center" nzAlign="middle" nzType="flex">
                    <nz-card style="width:100%; border-radius: 12px;" [nzTitle]="botTemplate">
                        <ng-template #botTemplate>
                            <i class="icon-fixed" nz-icon nzType="robot" nzTheme="outline"></i>
                            {{'ADMIN.SUPPORT.BOT' | translate}}
                        </ng-template>
                        <p>{{'ADMIN.SUPPORT.BOT_CONTENT' | translate}}</p>
                        <button nz-button nzSize="small" nzType="danger">{{'ADMIN.BUTTON_MORE' | translate}}</button>
                    </nz-card>
                </div>
                <div nz-row style="margin-bottom: 8px;" nzJustify="center" nzAlign="middle" nzType="flex">
                    <nz-card style="width:100%; border-radius: 12px;"
                        [nzTitle]="whatsappTemplate">
                        <ng-template #whatsappTemplate>
                            <i class="icon-fixed" nz-icon nzType="whats-app" nzTheme="outline"></i>
                            {{'ADMIN.SUPPORT.WHATSAPP' | translate}}
                        </ng-template>
                        <p>{{'ADMIN.SUPPORT.WHATSAPP_CONTENT' | translate}}</p>
                        <button nz-button nzSize="small" nzType="danger">{{'ADMIN.BUTTON_MORE' | translate}}</button>
                    </nz-card>
                </div>
                <div nz-row style="margin-bottom: 8px;" nzJustify="center" nzAlign="middle" nzType="flex">
                    <nz-card style="width:100%; border-radius: 12px;" [nzTitle]="mailTemplate">
                        <ng-template #mailTemplate>
                            <i class="icon-fixed" nz-icon nzType="mail" nzTheme="fill"></i>
                            {{'ADMIN.SUPPORT.MAIL' | translate}}
                        </ng-template>
                        <p>{{'ADMIN.SUPPORT.MAIL_CONTENT' | translate}}</p>
                        <button nz-button nzSize="small" nzType="danger">{{'ADMIN.BUTTON_MORE' | translate}}</button>
                    </nz-card>
                </div>
                <!-- <div class="card pp-card is-size-6" data-aos="zoom-in-right">
                    <header class="card-header">
                        <div class="card-header-title">
                            <div>
                                <span class="icon has-text-primary"><i class="fas fa-robot"></i></span> &nbsp;
                                <span id="pp-contact-bot"></span>
                            </div>
                        </div>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <span id="pp-contact-bot-detail"></span>
                        </div>
                        <button class="button is-primary is-small"><span id="pp-button-go-1"></span></button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>