.support {
    background-image: url("../../../../assets/img/portal/background-grey.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100%;
    background-position: center center;
    height: 100%;
}

.icon-fixed{
    color: rgb(255, 86 , 86);
}