<div nz-row style="margin-top: 30px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <span class="blue title"><span class="bold">{{'ADMIN.MENU.HOME' | translate}}</span> -
            {{'ADMIN.HOME.DESCRIPTION' | translate}}</span>
        <nz-divider></nz-divider>
    </div>
</div>

<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <div nz-row style="margin-bottom: 25px;" nzGutter="8" nzAlign="middle" nzJustify="center" nzType="flex">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8">
                <nz-card class="full-width" style="height: 400px;">
                    <div nz-row class="full-height" nzAlign="middle" nzJustify="center" nzType="flex">
                        <div nz-col class="full-height" [nzSpan]="24">
                            <div nz-row style="height: 8%;" nzAlign="middle" nzJustify="center" nzType="flex">
                                <span class="blue title bold">{{'ADMIN.HOME.PAY_CARD_TITLE' | translate}}</span>
                            </div>
                            <div nz-row style="height: 5%;" nzAlign="middle" nzJustify="center" nzType="flex">
                                <span class="blue subtitle">{{'ADMIN.HOME.PAY_CARD_PEN_SUBTITLE' | translate}}</span>
                            </div>
                            <div nz-row style="height: 40%;" nzAlign="bottom" nzJustify="center" nzType="flex">
                                <span class="bold" [ngClass]="isLarger() ? 'medium-text': 'large-text'">S/ {{transactionInfo.amountPEN | formatCurrency }}</span>
                            </div>
                            <div nz-row style="height: 37%;" nzAlign="top" nzJustify="center" nzType="flex">
                                <span class="subtitle center-text">{{transactionInfo.amountPEN | currencyNumberToWord }}</span>
                            </div>
                            <div nz-row style="height: 10%;" nzAlign="middle" nzJustify="center" nzType="flex">
                                <span class="gray footer">{{'ADMIN.HOME.INFO.TRANSACTIONS' | translate}}:
                                    {{transactionInfo.transactionsPEN}}</span>
                            </div>
                        </div>
                    </div>
                </nz-card>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8">
                <nz-card class="full-width" style="height: 400px;">
                    <div nz-row class="full-height" nzAlign="middle" nzJustify="center" nzType="flex">
                        <div nz-col class="full-height" [nzSpan]="24">
                            <div nz-row style="height: 8%;" nzAlign="middle" nzJustify="center" nzType="flex">
                                <span class="green title bold">{{'ADMIN.HOME.PAY_CARD_TITLE' | translate}}</span>
                            </div>
                            <div nz-row style="height: 5%;" nzAlign="middle" nzJustify="center" nzType="flex">
                                <span class="green subtitle">{{'ADMIN.HOME.PAY_CARD_USD_SUBTITLE' | translate}}</span>
                            </div>
                            <div nz-row style="height: 40%;" nzAlign="bottom" nzJustify="center" nzType="flex">
                                <span class="bold" [ngClass]="isLarger() ? 'medium-text': 'large-text'">$ {{transactionInfo.amountUSD | formatCurrency }}</span>
                            </div>
                            <div nz-row style="height: 37%;" nzAlign="top" nzJustify="center" nzType="flex">
                                <span class="subtitle center-text">{{transactionInfo.amountUSD | currencyNumberToWord }}</span>
                            </div>
                            <div nz-row style="height: 10%;" nzAlign="middle" nzJustify="center" nzType="flex">
                                <span class="gray footer">{{'ADMIN.HOME.INFO.TRANSACTIONS' | translate}}:
                                    {{transactionInfo.transactionsUSD}}</span>
                            </div>
                        </div>
                    </div>
                </nz-card>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8">
                <nz-card class="full-width" style="height: 400px;">
                    <div nz-row class="full-height" nzAlign="middle" nzJustify="center" nzType="flex">
                        <div nz-col class="full-height" [nzSpan]="24">
                            <div nz-row style="height: 13%;" nzAlign="middle" nzJustify="start" nzType="flex">
                                <div nz-col class="full-height" [nzSpan]="7">
                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                        <span class="green bold"
                                            style="font-size: 30px; line-height: 30px;">{{transactionInfo.transactionsPercentUSD}}%</span>
                                    </div>
                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                        <span
                                            style="font-size: 13px; line-height: 13px;">{{'ADMIN.HOME.LABEL.GRAPHIC_CARD_USD' | translate}}</span>
                                    </div>
                                </div>
                            </div>
                            <div nz-row style="height: 64%;" nzAlign="middle" nzJustify="center" nzType="flex">
                                <canvas height="250" style="max-height: 100%;" baseChart [data]="doughnutData"
                                    [labels]="doughnutLabels" [legend]="doughnutChartLegend" [colors]="doughnutColors"
                                    [options]="doughnutChartOptions" [chartType]="doughnutChartType"
                                    [plugins]="doughnutChartPlugins"></canvas>
                            </div>
                            <div nz-row style="height: 13%;" nzAlign="middle" nzJustify="end" nzType="flex">
                                <div nz-col class="full-height center-text" [nzSpan]="7">
                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                        <span class="blue bold"
                                            style="font-size: 30px; line-height: 30px;">{{transactionInfo.transactionsPercentPEN}}%</span>
                                    </div>
                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                        <span
                                            style="font-size: 13px; line-height: 13px;">{{'ADMIN.HOME.LABEL.GRAPHIC_CARD_PEN' | translate}}</span>
                                    </div>
                                </div>
                            </div>
                            <div nz-row style="height: 10%;" nzAlign="middle" nzJustify="center" nzType="flex">
                                <span class="gray footer">{{'ADMIN.HOME.INFO.TOTAL_TRANSACTIONS' | translate}}:
                                    {{transactionInfo.transactionsTotal}}</span>
                            </div>
                        </div>
                    </div>
                </nz-card>
            </div>
        </div>
        <div nz-row style="margin-bottom: 25px;" nzAlign="middle" nzJustify="center" nzType="flex">
            <nz-card class="full-width">
                <div nz-row class="full-height" style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center"
                    nzType="flex">
                    <div nz-col class="full-height" [nzSpan]="24">
                        <div nz-row nzAlign="middle" nzJustify="space-between" nzType="flex">
                            <div nz-col [nzXs]="18" [nzSm]="20" [nzMd]="12">
                                <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                                    <span class="title bold">{{'ADMIN.HOME.HISTORY_CARD_TITLE' | translate}}</span>
                                </div>
                                <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                                    <span class="title">{{'ADMIN.HOME.HISTORY_CARD_SUBTITLE' | translate}}</span>
                                </div>
                            </div>
                            <div nz-col [nzXs]="6" [nzSm]="4" [nzMd]="3">
                                <div nz-row nzAlign="top" nzJustify="end" nzType="flex">
                                    <nz-select class="full-width" [(ngModel)]="selectedYear"
                                        (ngModelChange)="yearChange($event)">
                                        <ng-container *ngFor="let item of years">
                                            <nz-option [nzValue]="item" [nzLabel]="item">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                            </div>
                        </div>
                        <div nz-row style="height: 80%; margin-top: 15px;" nzAlign="middle" nzJustify="center"
                            nzType="flex">
                            <canvas baseChart [datasets]="barChartData" [colors]="barChartColors"
                                [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                                [chartType]="barChartType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </nz-card>
        </div>
        <div nz-row style="margin-bottom: 25px;" nzGutter="8" nzAlign="middle" nzJustify="center" nzType="flex">
            <nz-card class="full-width">
                <div nz-row class="full-height" style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center"
                    nzType="flex">
                    <div nz-col class="full-height" [nzSpan]="24">
                        <div nz-row nzAlign="middle" nzJustify="space-between" nzType="flex">
                            <div nz-col [nzXs]="18" [nzSm]="20" [nzMd]="12">
                                <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                                    <span class="title bold">{{'ADMIN.HOME.LASTMOVES_CARD_TITLE' | translate}}</span>
                                </div>
                                <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                                    <span class="title">{{'ADMIN.HOME.LASTMOVES_CARD_SUBTITLE' | translate}}</span>
                                </div>
                            </div>
                            <div nz-col [nzXs]="6" [nzSm]="4" [nzMd]="3">
                                <div nz-row nzAlign="top" nzJustify="end" nzType="flex">
                                    <nz-select class="full-width" [(ngModel)]="selectedCurrency"
                                        (ngModelChange)="currencyChange($event)">
                                        <ng-container *ngFor="let item of accountCurrencyList">
                                            <nz-option [nzValue]="item" [nzLabel]="item">
                                            </nz-option>
                                        </ng-container>
                                    </nz-select>
                                </div>
                            </div>
                        </div>
                        <div nz-row style="margin-top: 15px;">
                            <nz-table [nzScroll]="{ x: '928px' }" #paymentTable nzSize="middle"
                                nzFrontPagination="false" [nzData]="transactionList">
                                <thead>
                                    <tr>
                                        <th nzAlign="center" style="width: 10%;">
                                            {{'ADMIN.HOME.TABLE_HEADER.ID' | translate}}</th>
                                        <th nzAlign="center" style="width: 20%;">
                                            {{'ADMIN.HOME.TABLE_HEADER.DATE' | translate}}</th>
                                        <th>{{'ADMIN.HOME.TABLE_HEADER.DETAIL' | translate}}</th>
                                        <th nzAlign="center" style="width: 10%;">
                                            {{'ADMIN.HOME.TABLE_HEADER.AMOUNT' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let payment of paymentTable.data">
                                        <!-- <td>{{ payment.trace }}</td>
                                        <td>{{ payment.datcr }}</td>
                                        <td>{{ payment.curre }}</td>
                                        <td>{{ payment.tamnt }}</td> -->
                                        <td nzAlign="center" style="width: 10%;">{{ payment.id }}</td>
                                        <td nzAlign="center" style="width: 20%;">{{ payment.date }}</td>
                                        <td>{{ payment.description }}</td>
                                        <td nzAlign="right" style="width: 10%;">{{ payment.amount }}</td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                    </div>
                </div>
            </nz-card>
        </div>
    </div>
</div>

<!-- <div nz-row style="margin-bottom: 8px;" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <div nz-row style="margin-bottom: 8px;" nzAlign="middle">
            <h1 class="h-fixed">Hola, {{ accountPpe.userName }}</h1>
            <h3 class="h-fixed">Tenemos informacion importante para ti</h3>
        </div>
        <div nz-row style="margin-bottom: 8px; height: 260px; margin-top: 25px;" nzAlign="middle" nzJustify="center"
            nzType="flex">
            <div class="show-border" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6">
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
                <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="18" style="display: flex; justify-content: center;">
                        <h3 class="h-fixed">Transacciones por día</h3>
                    </div>
                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6">
                        <button class="fixed-badge" nzSize="small" nz-button nzType="danger" nzShape="circle"
                            (click)="getLastDays(4)">7</button>
                        <button class="fixed-badge" nzSize="small" nz-button nzType="danger" nzShape="circle"
                            (click)="getLastDays(7)">15</button>
                        <button class="fixed-badge" nzSize="small" nz-button nzType="danger" nzShape="circle"
                            (click)="getLastDays(10)">30</button>
                    </div>
                </div>
                <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                        [legend]="lineChartLegend" [chartType]="lineChartType">
                    </canvas>
                </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6">
                <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                    <h4 class="h-fixed">Acumulado de transacciones</h4>
                </div>
                <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
                        <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                            <h4 class="h-fixed">Hoy</h4>
                            <canvas baseChart [data]="todayData" [labels]="todayLabels" [legend]="doughnutChartLegend"
                                [chartType]="doughnutChartType"></canvas>
                        </div>
                        <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                            <h4>PEN: {{todayData[0]}}</h4>
                        </div>
                        <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                            <h4>USD: {{todayData[1]}}</h4>
                        </div>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
                        <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                            <h4 class="h-fixed">Semana</h4>
                            <canvas baseChart [data]="weekData" [labels]="weekLabels" [legend]="doughnutChartLegend"
                                [chartType]="doughnutChartType"></canvas>
                        </div>
                        <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                            <h4>PEN: {{weekData[0]}}</h4>
                        </div>
                        <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                            <h4>USD: {{weekData[1]}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div nz-row style="margin-bottom: 8px; margin-top: 25px; height: 260px;" nzAlign="middle" nzJustify="center"
            nzType="flex">
            <div class="show-border" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8">
            </div>
            <div class="show-border" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8">
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8">
                <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                    <h4 class="h-fixed">Evolutivo de transacciones</h4>
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div> -->