.container {
    position: relative;
    width: 100%;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container .primary {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 15px;
  }


[nzHoverable] {
    cursor: auto;
    &:hover {   
        box-shadow:5px 10px 8px #888888;
    }
}

[nz-input] {
    &:hover {
        color: black;
        background: lightgray;
    }
}

i, a{
    font-size: 20px;
}

nz-divider {
    color: rgba(0, 0, 0, 0.70);
}

.ant-divider-horizontal.ant-divider-with-text-center,
.ant-divider-horizontal.ant-divider-with-text-left,
.ant-divider-horizontal.ant-divider-with-text-right {
    color: rgba(0, 0, 0, 0.70);
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-left::before,
.ant-divider-horizontal.ant-divider-with-text-right::before,
.ant-divider-horizontal.ant-divider-with-text-center::after,
.ant-divider-horizontal.ant-divider-with-text-left::after,
.ant-divider-horizontal.ant-divider-with-text-right::after {
    border-top: 1px solid rgba(0, 0, 0, 0.30);
}


.password{
    -webkit-text-security:disc; 
}

.h-fixed{
    margin: 0;
    color: rgb(255, 86 , 86);
}
.fixed-badge{
    background-color: rgb(255, 86 , 86);
}
.show-border{
    border:  solid 1px black;
    height: 100%;
}

::ng-deep .ant-divider-horizontal {
    margin-top: 0px;
    height: 4px;
    background: rgb(82, 140, 245);
}

.header-fix{
    color: rgb(82, 140, 245);
}

::ng-deep .ant-card-body {
    padding-top: 20px;
    padding-bottom: 24px;
    height: 100%;
}

.red{
    color: rgb(255, 86 , 86);
}

.blue{
    color: rgb(82, 140, 245);    
}

.gray{
    color: rgb(228, 228, 228);
}

.green{
    color: rgb(0, 255, 187);
}

.title{
    font-size: 20px;
    white-space: normal;
}

.subtitle{
    font-size: 15px;
    white-space: normal;
}

.footer{
    font-size: 11px;
    white-space: normal;
}

.bold{
    font-weight: bold;
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

.center-text{
    text-align: center;
}

.medium-text{
    font-size: 38px;
}

.large-text{
    font-size: 45px;
}