<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <nz-card style="width:100%;">
            <nz-divider nzText="{{'ADMIN.MENU.SETTINGS' | translate}} - {{'ADMIN.MENU.BUSINESS_SETTINGS' | translate}}"
                nzOrientation="left"></nz-divider>
            <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                <div nz-col [nzSpan]="22">
                    <form nz-form nzLayout="vertical" [formGroup]="principalForm">
                        <div nz-row nzAlign="middle" nzJustify="space-between" nzType="flex">
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11">
                                <nz-form-item>
                                    <nz-form-label>{{'ADMIN.LABEL_PRINCIPAL_DOCUMENT_TYPE' | translate}}
                                    </nz-form-label>
                                    <nz-form-control>
                                        <nz-select
                                            nzPlaceHolder="{{'ADMIN.LABEL_PRINCIPAL_SELECT_DOCUMENT_TYPE' | translate}}"
                                            formControlName="documentType"
                                            (ngModelChange)="updateDocumentValidator($event)">
                                            <nz-option nzValue="1" nzLabel="DNI"></nz-option>
                                            <nz-option nzValue="2" nzLabel="RUC"></nz-option>
                                            <nz-option nzValue="3" nzLabel="CE"></nz-option>
                                            <nz-option nzValue="4" nzLabel="PASAPORTE"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11">
                                <nz-form-item>
                                    <nz-form-label>{{'ADMIN.LABEL_PRINCIPAL_DOCUMENT_NUMBER' | translate}}
                                    </nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="documentNumber" readonly />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-row nzAlign="middle" nzJustify="space-between" nzType="flex">
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11">
                                <nz-form-item>
                                    <nz-form-label>{{'ADMIN.LABEL_PRINCIPAL_EMAIL' | translate}}
                                    </nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="email" readonly />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11">
                                <nz-form-item>
                                    <nz-form-label>{{'ADMIN.LABEL_PRINCIPAL_MOVIL' | translate}}
                                    </nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="movil" readonly />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-row nzAlign="middle" nzJustify="space-between" nzType="flex">
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11">
                                <nz-form-item>
                                    <nz-form-label>{{'ADMIN.LABEL_PRINCIPAL_BUSINESS_NAME' | translate}}
                                    </nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="businessName" readonly />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11">
                                <nz-form-item>
                                    <nz-form-label>{{'ADMIN.LABEL_PRINCIPAL_BUSINESS_ADDRESS' | translate}}
                                    </nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="businessAddress" readonly />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-row nzAlign="middle" nzJustify="space-between" nzType="flex">
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16">
                                <nz-form-item>
                                    <nz-form-label>{{'ADMIN.LABEL_PRINCIPAL_NAME' | translate}}
                                    </nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="userName" readonly />
                                    </nz-form-control>
                                </nz-form-item>
                                <!-- <nz-form-item>
                                    <nz-form-label>{{'ADMIN.LABEL_PRINCIPAL_LINK' | translate}}
                                    </nz-form-label>
                                    <nz-form-control>
                                        <input nz-input readonly formControlName="link" />
                                    </nz-form-control>
                                </nz-form-item> -->
                                <nz-form-item>
                                    <nz-form-label>{{'ADMIN.LABEL_PRINCIPAL_LINK' | translate}}
                                    </nz-form-label>
                                    <nz-form-control>
                                        <span class="blue-text">{{link}}</span>
                                    </nz-form-control>
                                </nz-form-item>

                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6">
                                <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                                    <div nz-col [nzSpan]="24">
                                        <ng-container *ngIf="qrLink">
                                            <qrcode [qrdata]="qrLink" [width]="200" [errorCorrectionLevel]="'M'">
                                            </qrcode>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nz-divider nzText="{{'ADMIN.LABEL_PRINCIPAL_SOLES_ACCOUNT' | translate}}" nzOrientation="left">
                        </nz-divider>
                        <div nz-row nzAlign="middle" nzJustify="space-between" nzType="flex">
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5">
                                <nz-form-item>
                                    <nz-form-label>{{'ADMIN.LABEL_PRINCIPAL_BANK' | translate}}
                                    </nz-form-label>
                                    <nz-form-control>
                                        <nz-select nzPlaceHolder="{{'ADMIN.LABEL_PRINCIPAL_SELECT_BANK' | translate}}"
                                            formControlName="solesBank">
                                            <nz-option nzValue="BCP" nzLabel="BCP"></nz-option>
                                            <nz-option nzValue="BBVA" nzLabel="BBVA"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="9">
                                <nz-form-item>
                                    <nz-form-label>{{'ADMIN.LABEL_PRINCIPAL_ACCOUNT_NUMBER' | translate}}
                                    </nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="solesAccountNumber"
                                            (keypress)="onlyNumbers($event, solesAccountNumber)"
                                            (paste)="onlyNumbers($event, solesAccountNumber)"
                                            (change)="updateSolesBankValidator($event)" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="9">
                                <nz-form-item>
                                    <nz-form-label>{{'ADMIN.LABEL_PRINCIPAL_INTER_BANK_ACCOUNT_CODE' | translate}}
                                    </nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="solesCci"
                                            (keypress)="onlyNumbers($event, solesCci)"
                                            (paste)="onlyNumbers($event, solesCci)"
                                            (change)="updateSolesBankValidator($event)" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <nz-divider nzText="{{'ADMIN.LABEL_PRINCIPAL_DOLAR_ACCOUNT' | translate}}" nzOrientation="left">
                        </nz-divider>
                        <div nz-row nzAlign="middle" nzJustify="space-between" nzType="flex">
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5">
                                <nz-form-item>
                                    <nz-form-label>{{'ADMIN.LABEL_PRINCIPAL_BANK' | translate}}
                                    </nz-form-label>
                                    <nz-form-control>
                                        <nz-select nzPlaceHolder="{{'ADMIN.LABEL_PRINCIPAL_SELECT_BANK' | translate}}"
                                            formControlName="dolarBank">
                                            <nz-option nzValue="BCP" nzLabel="BCP"></nz-option>
                                            <nz-option nzValue="BBVA" nzLabel="BBVA"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="9">
                                <nz-form-item>
                                    <nz-form-label>{{'ADMIN.LABEL_PRINCIPAL_ACCOUNT_NUMBER' | translate}}
                                    </nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="dolarAccountNumber"
                                            (keypress)="onlyNumbers($event, dolarAccountNumber)"
                                            (paste)="onlyNumbers($event, dolarAccountNumber)"
                                            (change)="updateDolarBankValidator($event)" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="9">
                                <nz-form-item>
                                    <nz-form-label>{{'ADMIN.LABEL_PRINCIPAL_INTER_BANK_ACCOUNT_CODE' | translate}}
                                    </nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="dolarCci"
                                            (keypress)="onlyNumbers($event, dolarCci)"
                                            (paste)="onlyNumbers($event, dolarCci)"
                                            (change)="updateDolarBankValidator($event)" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <nz-form-item>
                            <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="end" nzType="flex">
                                <div nz-col style="text-align: right;">
                                    <button nz-button nzType="primary" class="secondary"
                                        (click)="editConfiguration()">{{'ADMIN.BUTTON_EDIT' | translate}}<i nz-icon
                                            [nzType]="'edit'"></i></button>
                                    <button nz-button nzType="primary" class="primary right-button"
                                        [nzLoading]="saveLoading" (click)="showConfirm()"
                                        [disabled]="principalForm.invalid || principalForm.disabled">{{'ADMIN.BUTTON_SAVE' | translate}}<i
                                            nz-icon [nzType]="'save'"></i></button>
                                </div>
                            </div>
                        </nz-form-item>
                    </form>
                </div>
            </div>
        </nz-card>
    </div>
</div>