
.right-button{
    margin-left: 10px;;
}

[nzHoverable] {
    cursor: auto;
    &:hover {   
        box-shadow:5px 10px 8px #888888;
    }
}

i{
    font-size: 20px;
}
.password{
    -webkit-text-security:disc; 
}

.blue-text{
    color: rgb(82, 140, 245);;
}