<div class="common-container">
    <div class="common-titles">
        <h3>{{ 'COMMONS.FORGOT.PASSWORD.RESTORE_TITLE' | translate }}</h3>
        <h4>{{ userName }}</h4>
    </div>
    <form nz-form nzLayout="vertical">
        <nz-form-item nzType="flex" nzJustify="center">
            <nz-form-control [nzSpan]="20" [nzErrorTip]="'COMMONS.FORGOT.PASSWORD.ERROR_TIP.PASSWORD_ERROR' | translate"
                [nzValidateStatus]="password" nzHasFeedback>
                <nz-input-group [nzSize]="inputSize" [nzSuffix]="suffixTemplate" nzAddOnBeforeIcon="lock">
                    <input nz-input [type]="passwordVisible ? 'text' : 'password'" appPassword
                        [appMaxLength]="MaxLength.PASSWORD" [formControl]="password" autocomplete="new-password"
                        [placeholder]="'COMMONS.FORGOT.PASSWORD.PLACEHOLDER.NEWPASSWORD' | translate"
                        (ngModelChange)="updateConfirmValidator()" tabindex="1" />
                </nz-input-group>
                <ng-template #suffixTemplate>
                    <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                        (click)="passwordVisible = !passwordVisible"></i>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nzType="flex" nzJustify="center">
            <nz-form-control [nzSpan]="20" [nzErrorTip]="'COMMONS.FORGOT.PASSWORD.ERROR_TIP.CONFIRM_ERROR' | translate"
                [nzValidateStatus]="checkPassword" nzHasFeedback>
                <nz-input-group [nzSize]="inputSize" [nzSuffix]="suffixTemplate" nzAddOnBeforeIcon="lock">
                    <input nz-input [type]="passwordVisible ? 'text' : 'password'" appPassword
                        [appMaxLength]="MaxLength.PASSWORD" [formControl]="checkPassword" autocomplete="new-password"
                        [placeholder]="'COMMONS.FORGOT.PASSWORD.PLACEHOLDER.CONFIRM' | translate" tabindex="2" />
                </nz-input-group>
                <ng-template #suffixTemplate>
                    <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                        (click)="passwordVisible = !passwordVisible"></i>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nzType="flex" nzJustify="center">
            <nz-form-control [nzSpan]="20">
                <nz-form-item nzType="flex" nzJustify="space-between">
                    <nz-form-control [nzSpan]="6">
                        <button nz-button nzType="primary" [nzSize]="inputSize" [disabled]="!restoreForm.valid"
                            (click)="goConfirmPassword()">
                            {{'COMMONS.FORGOT.PASSWORD.BUTTON.ACCEPT' | translate}}
                        </button>
                    </nz-form-control>
                    <nz-form-control [nzSpan]="6">
                        <button nz-button nzBlock nzType="default" [nzSize]="inputSize" (click)="back()">
                            {{'COMMONS.FORGOT.PASSWORD.BUTTON.CANCEL' | translate}}
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>