<div nz-row style="margin-top: 30px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <span class="blue title"><span class="bold">{{'ADMIN.MENU.PAYMENT_LINK' | translate}}</span> -
            {{'ADMIN.PAYMENT_LINK.DESCRIPTION' | translate}}</span>
        <nz-divider></nz-divider>
    </div>
</div>
<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <nz-card clas="full-width">
            <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                <div nz-col [nzSpan]="23">
                    <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                        <span class="title bold">{{'ADMIN.PAYMENT_LINK.MULTIPLE_CARD_TITLE' | translate}}</span>
                    </div>
                    <nz-alert nzType="info"
                        nzDescription="{{'ADMIN.PAYMENT_LINK.ALERT.MULTIPLE_DESCRIPTION' | translate}}" nzShowIcon>
                    </nz-alert>
                    <div nz-row [nzGutter]="10" nzJustify="center" nzType="flex">
                        <div nz-col [nzXs]="24" [nzSm]="20" [nzMd]="16" [nzLg]="16">
                            <form nz-form style="margin-top: 20px;">
                                <nz-form-item>
                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                        <div nz-col [nzXs]="24" [nzSm]="10">
                                            <nz-form-label class="label-fix" nzNoColon="true">
                                                {{'ADMIN.PAYMENT_LINK.LABEL.MULTIPLE_PAYMENT_LINK_CODE' | translate}}:
                                            </nz-form-label>
                                        </div>
                                        <div nz-col [nzXs]="0" [nzSm]="2">
                                        </div>
                                        <div nz-col [nzXs]="24" [nzSm]="12">
                                            <nz-form-control>
                                                <input class="input-center" nz-input disabled
                                                    placeholder="{{'ADMIN.PAYMENT_LINK.PLACEHOLDER.CODE' | translate}}"
                                                    value="{{code | formatNumberCode:6 }}" />
                                            </nz-form-control>
                                        </div>
                                    </div>
                                </nz-form-item>
                                <nz-form-item>
                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                        <div nz-col [nzXs]="24" [nzSm]="10">
                                            <nz-form-label class="label-fix" nzNoColon="true">
                                                {{'ADMIN.PAYMENT_LINK.LABEL.DETAIL' | translate}}:
                                            </nz-form-label>
                                        </div>
                                        <div nz-col [nzXs]="0" [nzSm]="2">
                                        </div>
                                        <div nz-col [nzXs]="24" [nzSm]="12">
                                            <nz-form-control>
                                                <input appAutoFocus appPayment [appMaxLength]="MaxLength.PAYMENT_DETAIL"
                                                    nz-input [formControl]="detail"
                                                    placeholder="{{'ADMIN.PAYMENT_LINK.PLACEHOLDER.DETAIL' | translate}}" />
                                            </nz-form-control>
                                        </div>
                                    </div>
                                    <div nz-row nzAlign="middle" nzJustify="end" style="font-size: 10px;" nzType="flex">
                                        {{detail.value ? detail.value.length : 0}}/{{constants.DETAIL_MAX_LENGTH}}
                                        {{'ADMIN.PAYMENT_LINK.INFO.DETAIL_CHARACTER' | translate}}
                                    </div>
                                </nz-form-item>
                                <nz-form-item>
                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                        <div nz-col [nzXs]="24" [nzSm]="10">
                                            <div nz-row>
                                                <div nz-col [nzXs]="2" [nzSm]="2">
                                                    <label nz-checkbox [ngModel]="addAmount"
                                                        [ngModelOptions]="{standalone: true}"
                                                        (change)="showAmount()"></label>
                                                </div>
                                                <div nz-col [nzXs]="22" [nzSm]="22">
                                                    <nz-form-label class="label-fix" nzNoColon="true">
                                                        {{'ADMIN.PAYMENT_LINK.LABEL.MULTIPLE_PAYMENT_LINK_AMOUNT' | translate}}:
                                                    </nz-form-label>
                                                </div>
                                            </div>
                                        </div>
                                        <div nz-col [nzXs]="0" [nzSm]="2">
                                        </div>
                                        <div nz-col [nzXs]="24" [nzSm]="12">
                                            <nz-form-control>
                                                <div nz-row nzAlign="middle">
                                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzXl]="6"
                                                        [nzXXl]="6">
                                                        <nz-form-control>
                                                            <nz-select [formControl]="currency">
                                                                <ng-container *ngFor="let item of accountCurrencyList">
                                                                    <nz-option [nzValue]="item" [nzLabel]="item">
                                                                    </nz-option>
                                                                </ng-container>
                                                            </nz-select>
                                                        </nz-form-control>
                                                    </div>
                                                    <div *ngIf="addAmount" nz-col [nzXs]="12" [nzSm]="12" [nzMd]="18"
                                                        [nzXl]="18" [nzXXl]="18">
                                                        <nz-form-control>
                                                            <input style="text-align: right;" appAmount
                                                                [appMaxLength]="MaxLength.PAYMENT_AMOUNT" nz-input
                                                                [formControl]="amount"
                                                                placeholder="{{'ADMIN.PAYMENT_LINK.PLACEHOLDER.AMOUNT' | translate}}" />
                                                        </nz-form-control>
                                                    </div>
                                                </div>
                                            </nz-form-control>
                                        </div>
                                    </div>
                                    <!-- <div nz-row nzAlign="middle" nzJustify="end" style="font-size: 10px;"
                                                    *ngIf="amountVisible()" nzType="flex">
                                                    {{'ADMIN.PAYMENT_LINK.INFO.AMOUNT_COMISION' | translate}}
                                                    {{currency.value}} 0.00
                                                </div> -->
                                </nz-form-item>
                                <nz-form-item>
                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                        <div nz-col [nzXs]="24" [nzSm]="10">
                                            <nz-form-label class="label-fix" nzNoColon="true">
                                                <ng-container *ngIf="link">
                                                    <button class="full-width" nz-button nzType="primary"
                                                        (click)="copyLink(linkinput)">{{'ADMIN.PAYMENT_LINK.BUTTON.COPY_LINK' | translate}}<i
                                                            nz-icon [nzType]="'copy'"></i></button>
                                                </ng-container>
                                                <ng-container *ngIf="!link">
                                                    <button class="full-width" nz-button nzType="primary"
                                                        [nzLoading]="saveLoading" (click)="savePaymentLink()"
                                                        [disabled]="!paymentlinkForm.valid || paymentlinkForm.disabled">{{'ADMIN.PAYMENT_LINK.BUTTON.GENERATE' | translate}}<i
                                                            nz-icon [nzType]="'link'"></i></button>
                                                </ng-container>
                                            </nz-form-label>
                                        </div>
                                        <div nz-col [nzXs]="0" [nzSm]="2">
                                        </div>
                                        <div nz-col [nzXs]="24" [nzSm]="12">
                                            <nz-form-control>
                                                <input (click)="linkinput.select()" class="disabledButton" nz-input
                                                    readonly value="{{link}}" #linkinput />
                                            </nz-form-control>
                                        </div>
                                    </div>
                                </nz-form-item>
                                <nz-form-item>
                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                        <div nz-col [nzXs]="24" [nzSm]="10">
                                            <nz-form-label class="label-fix" nzNoColon="true">
                                                {{'ADMIN.PAYMENT_LINK.LABEL.SHARE' | translate}}
                                            </nz-form-label>
                                        </div>
                                        <div nz-col [nzXs]="0" [nzSm]="2">
                                        </div>
                                        <div nz-col [nzXs]="24" [nzSm]="12">
                                            <nz-form-control>
                                                <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                                    <div nz-col class="center" [nzXs]="4" [nzSm]="4">
                                                        <i [ngClass]="qrLink? 'enabledIcon': ''" nz-icon
                                                            nzType="whats-app" nzTheme="outline"
                                                            (click)="shareWhatsapp()"></i>
                                                        <!-- <i style="color: #00e676" nz-icon nzType="whats-app"
                                                                            nzTheme="outline"></i> -->
                                                    </div>
                                                    <div nz-col class="center" [nzXs]="4" [nzSm]="4">
                                                        <i [ngClass]="qrLink? 'enabledIcon': ''" nz-icon
                                                            nzType="facebook" nzTheme="fill"
                                                            (click)="shareFacebook()"></i>
                                                        <!-- <i style="color: #4267b2" nz-icon nzType="facebook"
                                                                            nzTheme="fill"></i> -->
                                                    </div>
                                                    <div nz-col class="center" [nzXs]="4" [nzSm]="4">
                                                        <i [ngClass]="qrLink? 'enabledIcon': ''" nz-icon
                                                            nzType="twitter" nzTheme="outline"
                                                            (click)="shareTwitter()"></i>
                                                        <!-- <i style="color: #1da1f2" nz-icon nzType="twitter"
                                                                            nzTheme="outline"></i> -->
                                                    </div>
                                                    <div nz-col class="center" [nzXs]="4" [nzSm]="4">
                                                        <i [ngClass]="qrLink? 'enabledIcon': ''" nz-icon nzType="mail"
                                                            nzTheme="fill"></i>
                                                        <!-- <i style="color: #1da1f2" nz-icon nzType="mail"
                                                                            nzTheme="fill"></i> -->
                                                    </div>
                                                    <div nz-col class="center" [nzXs]="4" [nzSm]="4">
                                                        <i [ngClass]="qrLink? 'enabledIcon': ''" nz-icon nzType="qrcode"
                                                            (click)="showQr(qrModalTemplate)"></i>
                                                    </div>
                                                </div>
                                            </nz-form-control>
                                        </div>
                                    </div>
                                </nz-form-item>
                                <nz-form-item>
                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex"
                                        class="navigation-link">
                                        {{'ADMIN.PAYMENT_LINK.LABEL.UNIQUE_NAVIGATION_LINK' | translate}}&nbsp;<a
                                            href="javascript:;"
                                            [routerLink]="['/admin/paymentlink/generate/unique']">{{'ADMIN.PAYMENT_LINK.LABEL.GENERATE_HERE' | translate}}</a>
                                    </div>
                                </nz-form-item>
                            </form>
                        </div>
                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="1" [nzLg]="1">
                            <form nz-form style="margin-top: 20px;">
                                <nz-form-item>
                                    <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                                        <div nz-col>
                                            <nz-form-control nzAlign="middle" nzType="flex" nzJustify="end">
                                                <button nz-button nzType="primary" nz-tooltip
                                                    [ngClass]="qrLink? '': 'disabledButton'"
                                                    [nzTooltipTitle]="'ADMIN.PAYMENT_LINK.TOOLTIP.NEW_PAYMENT_LINK' | translate"
                                                    nzTooltipPlacement="top" (click)="newPaymentLink()"><i nz-icon
                                                        [nzType]="'plus'"></i></button>
                                            </nz-form-control>
                                        </div>
                                    </div>
                                </nz-form-item>
                            </form>
                        </div>
                    </div>
                    <div nz-row nzAlign="middle" nzJustify="center" class="footer" style="margin-top: 20px;"
                        nzType="flex">
                        {{'ADMIN.PAYMENT_LINK.CARD_FOOTER' | translate}}
                    </div>
                </div>
            </div>
        </nz-card>
    </div>
</div>

<ng-template #qrModalTemplate let-params let-ref="modalRef">
    <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
        <div nz-col [nzSpan]="20">
            <qrcode [qrdata]="qrLink" [width]="getQrWidth()" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
    </div>
</ng-template>