<div class="common-container">
    <div class="common-titles">
        <h3>{{ 'COMMONS.FORGOT.USER.RESTORE_TITLE' | translate }}</h3>
        <h4>{{ userName }}</h4>
    </div>
    <form nz-form nzLayout="vertical">
        <nz-form-item nzType="flex" nzJustify="center">
            <nz-form-control [nzSpan]="20">
                <nz-input-group [nzSize]="inputSize">
                    <input class="center" nz-input [formControl]="email" autocomplete="email"
                        appMail [appMaxLength]="MaxLength.EMAIL"
                        [placeholder]="'COMMONS.FORGOT.USER.PLACEHOLDER.EMAIL' | translate" appAutoFocus tabindex="1" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nzType="flex" nzJustify="center">
            <nz-form-control [nzSpan]="20">
                <nz-form-item nzType="flex" nzJustify="center">
                    <nz-form-control [nzSpan]="10">
                        <button nz-button nzType="primary" [nzSize]="inputSize" [disabled]="!restoreForm.valid"
                            (click)="goConfirmUser()">
                            {{'COMMONS.FORGOT.USER.BUTTON.RESTORE' | translate}}
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>