html,
body {
  min-height: 100vh;
  line-height: normal;
  // font-family: 'Helvetica Neue', Roboto;
  // font-family: 'Google Sans', Roboto, 'Helvetica Neue', Arial, sans-serif;
  // font-family: Roboto, Arial, sans-serif;
  font-size: 100%;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; // added for IE/Edge 2406
}


/* COMMON REGISTER STYLE */
.cntm-common-register-container {
  width: 100%;

  h3 {
    text-align: center;
    margin-bottom: 8px;
    color: #202124;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
  }

  h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
    color: rgb(32, 33, 36);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.5;
  }
}

button.danger {
  background-color: #ff4d4f;
  color: white;
  border-color: #ff4d4f;
}

button.danger:hover, button.danger:focus {
  background-color: #f83034;
  color: white;
  border-color: #f83034;
}

button.secondary {
  background-color: #4a4d50;
  color: white;
  border-color: #4a4d50; 
}

button.secondary:hover, button.secondary:focus{
  background-color: #6c757d;
  color: white;
  border-color: #6c757d; 
}

button.info {
  background-color: #17a268;
  color: white;
  border-color: #17a268;
}

button.succes {
  background-color: #28a745;
  color: white;
  border-color: #28a745;
}

button.button-green {
  background-color: rgb(0, 255, 187);
  color: white;
  border-color: rgb(0, 255, 187);
}

button.button-green:hover, button.button-green:focus{
  background-color: rgb(0, 255, 187, 0.5);
  color: white;
  border-color: rgb(0, 255, 187, 0.5);
}

button.button-gray{
  background-color: rgb(228, 228, 228);
  color: black;
  border-color: rgb(228, 228, 228);
}

button.button-gray:hover, button.button-gray:focus{
  background-color: rgb(228, 228, 228, 0.5);
  color: black;
  border-color: rgb(228, 228, 228, 0.5);
}

button.button-red{
  background-color: rgb(251, 86 , 86);
  color: white;;
  border-color: rgb(251, 86 , 86);
}

button.button-red:hover, button.button-red:focus{
  background-color: rgb(251, 86 , 86, 0.5);
  color: white;
  border-color: rgb(251, 86 , 86, 0.5);
}

button.button-blue{
  background-color: rgb(82, 140 , 245);
  color: white;;
  border-color: rgb(82, 140 , 245);
}

button.button-blue:hover, button.button-blue:focus{
  background-color: rgb(82, 140 , 245, 0.5);
  color: white;
  border-color: rgb(82, 140 , 245, 0.5);
}

.full-width{
  width: 100%;
}
.bold{
  font-weight: bold;
}

.spaced-row{
  margin-bottom: 10px;
}