@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// @primary-color: rgb(0, 65, 147);
@primary-color: rgb(82, 140, 245);
// @btn-primary-color: rgb(70, 77, 83);
// @font-family: 'Helvetica Neue', Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
//     'Microsoft YaHei', Arial, sans-serif, 'Apple Color Emoji',
//     'Segoe UI Emoji', 'Segoe UI Symbol';
@font-family: Poppins-Light;
@font-size-base: 13px;
// @layout-header-background : rgb(70, 77, 83);
@layout-header-background : rgb(82, 140, 245);
// @menu-dark-submenu-bg : rgb(255, 104, 97);

@menu-dark-submenu-bg: rgb(63, 63, 64);
@menu-dark-item-active-bg: rgb(251, 86 , 86);