[nzHoverable] {
    cursor: auto;
    &:hover {   
        box-shadow:5px 10px 8px #888888;
    }
}

i{
    font-size: 16px;
}

.password{
    -webkit-text-security:disc; 
}

.ant-form-item-label{
    text-align: left;
}

.currencyselect {
    width: 110px !important;
}

td nz-button-group [nz-button] {
    margin-right: 5px;
}

.ant-time-picker {
    width: 100%;
}

::ng-deep .ant-calendar-picker{
    width: 100%;
}

.blue-text{
    color: rgb(82, 140, 245);;
}

.center {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.label-fix{
    white-space: normal;
    line-height: 20px;
    width: 100%;
}

::ng-deep .ant-divider-horizontal {
    margin-top: 0px;
    height: 4px;
    background: rgb(82, 140, 245);
}

.red{
    color: rgb(255, 86 , 86);
}

.blue{
    color: rgb(82, 140, 245);    
}

.gray{
    color: #E4E4E4;
}

.green{
    color: #00FFBB
}

.title{
    font-size: 20px;
    white-space: normal;
}

.subtitle{
    font-size: 15px;
    white-space: normal;
}

.footer{
    font-size: 11px;
    white-space: normal;
}

.bold{
    font-weight: bold;
}

.input-center{
    text-align: center;
}

.full-width{
    width: 100%;
}

.enabledIcon{
    color: rgb(82, 140, 245);
    cursor: pointer;
}

.disabledButton{
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    cursor: default;
}
