<div nz-row style="margin-top: 30px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <span class="blue title"><span class="bold">{{'ADMIN.MENU.PAYMENT_LINK' | translate}}</span> -
            {{'ADMIN.PAYMENT_LINK.DESCRIPTION' | translate}}</span>
        <nz-divider></nz-divider>
    </div>
</div>
<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <nz-card clas="full-width">
            <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                <div nz-col [nzSpan]="23">
                    <div nz-row nzAlign="middle" nzJustify="start" nzType="flex">
                        <span class="title bold">{{'ADMIN.PAYMENT_LINK.CARD_TITLE' | translate}} -
                            {{'ADMIN.PAYMENT_LINK.UNIQUE_PAYMENT_LINK' | translate}}</span>
                    </div>
                    <div nz-row [nzGutter]="10" nzJustify="center" nzType="flex">
                        <!-- <nz-tabset [nzSelectedIndex]="0" class="full-width">
                            <nz-tab nzTitle="{{'ADMIN.PAYMENT_LINK.UNIQUE_PAYMENT_LINK' | translate}}">
                                <div nz-row [nzGutter]="8" nzJustify="center" nzType="flex"> -->
                        <div nz-col [nzXs]="24" [nzSm]="20" [nzMd]="16" [nzLg]="13">
                            <form nz-form style="margin-top: 20px;">
                                <nz-form-item>
                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                        <div nz-col [nzXs]="24" [nzSm]="8">
                                            <ng-container *ngIf="paymentLinkType === constants.UNIQUE_PAYMENTLINK">
                                                <nz-form-label class="label-fix" nzNoColon="true">
                                                    {{'ADMIN.PAYMENT_LINK.LABEL.UNIQUE_PAYMENT_LINK_CODE' | translate}}:
                                                </nz-form-label>
                                            </ng-container>
                                            <ng-container *ngIf="paymentLinkType === constants.MULTIPLE_PAYMENTLINK">
                                                <nz-form-label class="label-fix" nzNoColon="true">
                                                    {{'ADMIN.PAYMENT_LINK.LABEL.MULTIPLE_PAYMENT_LINK_CODE' | translate}}:
                                                </nz-form-label>
                                            </ng-container>
                                        </div>
                                        <div nz-col [nzXs]="0" [nzSm]="2">
                                        </div>
                                        <div nz-col [nzXs]="24" [nzSm]="14">
                                            <nz-form-control>
                                                <input class="input-center" nz-input disabled
                                                    placeholder="{{'ADMIN.PAYMENT_LINK.PLACEHOLDER.CODE' | translate}}"
                                                    value="{{code}}" />
                                            </nz-form-control>
                                        </div>
                                    </div>
                                </nz-form-item>
                                <nz-form-item>
                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                        <div nz-col [nzXs]="24" [nzSm]="8">
                                            <nz-form-label class="label-fix" nzNoColon="true">
                                                {{'ADMIN.PAYMENT_LINK.LABEL.DETAIL' | translate}}:
                                            </nz-form-label>
                                        </div>
                                        <div nz-col [nzXs]="0" [nzSm]="2">
                                        </div>
                                        <div nz-col [nzXs]="24" [nzSm]="14">
                                            <nz-form-control>
                                                <input (keypress)="noSymbols($event, detail)"
                                                    (paste)="noSymbols($event, detail)" nz-input [formControl]="detail"
                                                    placeholder="{{'ADMIN.PAYMENT_LINK.PLACEHOLDER.DETAIL' | translate}}" />
                                            </nz-form-control>
                                        </div>
                                    </div>
                                    <div nz-row nzAlign="middle" nzJustify="end" style="font-size: 10px;" nzType="flex">
                                        {{detail.value ? detail.value.length : 0}}/{{constants.DETAIL_MAX_LENGTH}}
                                        {{'ADMIN.PAYMENT_LINK.INFO.DETAIL_CHARACTER' | translate}}
                                    </div>
                                </nz-form-item>
                                <nz-form-item>
                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                        <div nz-col [nzXs]="24" [nzSm]="8">
                                            <ng-container *ngIf="paymentLinkType === constants.UNIQUE_PAYMENTLINK">
                                                <nz-form-label class="label-fix" nzNoColon="true">
                                                    {{'ADMIN.PAYMENT_LINK.LABEL.UNIQUE_PAYMENT_LINK_AMOUNT' | translate}}:
                                                </nz-form-label>
                                            </ng-container>
                                            <ng-container *ngIf="paymentLinkType === constants.MULTIPLE_PAYMENTLINK">
                                                <div nz-row>
                                                    <div nz-col [nzXs]="3" [nzSm]="3">
                                                        <label nz-checkbox [ngModel]="addAmount"
                                                            [ngModelOptions]="{standalone: true}"
                                                            (change)="showAmount()"></label>
                                                    </div>
                                                    <div nz-col [nzXs]="21" [nzSm]="21">
                                                        <nz-form-label class="label-fix" nzNoColon="true">
                                                            {{'ADMIN.PAYMENT_LINK.LABEL.MULTIPLE_PAYMENT_LINK_AMOUNT' | translate}}:
                                                        </nz-form-label>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div nz-col [nzXs]="0" [nzSm]="2">
                                        </div>
                                        <div nz-col [nzXs]="24" [nzSm]="14">
                                            <nz-form-control>
                                                <div nz-row nzAlign="middle" *ngIf="amountVisible()">
                                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzXl]="6"
                                                        [nzXXl]="6">
                                                        <nz-form-control>
                                                            <nz-select [formControl]="currency">
                                                                <ng-container *ngFor="let item of accountCurrencyList">
                                                                    <nz-option [nzValue]="item" [nzLabel]="item">
                                                                    </nz-option>
                                                                </ng-container>
                                                            </nz-select>
                                                        </nz-form-control>
                                                    </div>
                                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="18" [nzXl]="18"
                                                        [nzXXl]="18">
                                                        <nz-form-control>
                                                            <input style="text-align: right;"
                                                                (keypress)="currencyNumber($event, amount)"
                                                                (paste)="currencyNumber($event, amount)" nz-input
                                                                [formControl]="amount"
                                                                placeholder="{{'ADMIN.PAYMENT_LINK.PLACEHOLDER.AMOUNT' | translate}}" />
                                                        </nz-form-control>
                                                    </div>
                                                </div>
                                            </nz-form-control>
                                        </div>
                                    </div>
                                    <!-- <div nz-row nzAlign="middle" nzJustify="end" style="font-size: 10px;"
                                                    *ngIf="amountVisible()" nzType="flex">
                                                    {{'ADMIN.PAYMENT_LINK.INFO.AMOUNT_COMISION' | translate}}
                                                    {{currency.value}} 0.00
                                                </div> -->
                                </nz-form-item>
                                <nz-form-item>
                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                        <div nz-col [nzXs]="24" [nzSm]="8">
                                            <nz-form-label class="label-fix" nzNoColon="true">
                                                <ng-container *ngIf="link">
                                                    <button class="full-width" nz-button nzType="primary"
                                                        (click)="copyLink(linkinput)">{{'ADMIN.PAYMENT_LINK.BUTTON.COPY_LINK' | translate}}<i
                                                            nz-icon [nzType]="'copy'"></i></button>
                                                </ng-container>
                                                <ng-container *ngIf="!link">
                                                    <button class="full-width" nz-button nzType="primary"
                                                        [nzLoading]="saveLoading" (click)="savePaymentLink()"
                                                        [disabled]="!paymentlinkForm.valid || paymentlinkForm.disabled">{{'ADMIN.PAYMENT_LINK.BUTTON.GENERATE' | translate}}<i
                                                            nz-icon [nzType]="'link'"></i></button>
                                                </ng-container>
                                            </nz-form-label>
                                        </div>
                                        <div nz-col [nzXs]="0" [nzSm]="2">
                                        </div>
                                        <div nz-col [nzXs]="24" [nzSm]="14">
                                            <nz-form-control>
                                                <input (click)="linkinput.select()" nz-input readonly value="{{link}}"
                                                    #linkinput />
                                            </nz-form-control>
                                        </div>
                                    </div>
                                </nz-form-item>
                                <nz-form-item>
                                    <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                        <div nz-col [nzXs]="24" [nzSm]="8">
                                            <nz-form-label class="label-fix" nzNoColon="true">
                                                {{'ADMIN.PAYMENT_LINK.LABEL.SHARE' | translate}}
                                            </nz-form-label>
                                        </div>
                                        <div nz-col [nzXs]="0" [nzSm]="2">
                                        </div>
                                        <div nz-col [nzXs]="24" [nzSm]="14">
                                            <nz-form-control>
                                                <div nz-row nzAlign="middle" nzJustify="center" nzType="flex">
                                                    <div nz-col class="center" [nzXs]="4" [nzSm]="4">
                                                        <i [ngClass]="qrLink? 'enabledIcon': ''" nz-icon nzType="whats-app" nzTheme="outline"></i>
                                                        <!-- <i style="color: #00e676" nz-icon nzType="whats-app"
                                                                            nzTheme="outline"></i> -->
                                                    </div>
                                                    <div nz-col class="center" [nzXs]="4" [nzSm]="4">
                                                        <i [ngClass]="qrLink? 'enabledIcon': ''" nz-icon nzType="facebook" nzTheme="fill"></i>
                                                        <!-- <i style="color: #4267b2" nz-icon nzType="facebook"
                                                                            nzTheme="fill"></i> -->
                                                    </div>
                                                    <div nz-col class="center" [nzXs]="4" [nzSm]="4">
                                                        <i [ngClass]="qrLink? 'enabledIcon': ''" nz-icon nzType="twitter" nzTheme="outline"></i>
                                                        <!-- <i style="color: #1da1f2" nz-icon nzType="twitter"
                                                                            nzTheme="outline"></i> -->
                                                    </div>
                                                    <div nz-col class="center" [nzXs]="4" [nzSm]="4">
                                                        <i [ngClass]="qrLink? 'enabledIcon': ''" nz-icon nzType="mail" nzTheme="fill"></i>
                                                        <!-- <i style="color: #1da1f2" nz-icon nzType="mail"
                                                                            nzTheme="fill"></i> -->
                                                    </div>
                                                    <div nz-col class="center" [nzXs]="4" [nzSm]="4">
                                                        <i [ngClass]="qrLink? 'enabledIcon': ''" nz-icon nzType="qrcode"
                                                            (click)="showQr(qrModalTemplate)"></i>
                                                    </div>
                                                </div>
                                            </nz-form-control>
                                        </div>
                                    </div>
                                </nz-form-item>
                            </form>
                        </div>
                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="1" [nzLg]="1">
                            <form nz-form style="margin-top: 20px;">
                                <nz-form-item>
                                    <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                                        <div nz-col>
                                            <nz-form-control nzAlign="middle" nzType="flex" nzJustify="end">
                                                <button nz-button nzType="primary" nz-tooltip [ngClass]="qrLink? '': 'disabledButton'"
                                                    [nzTooltipTitle]="'ADMIN.PAYMENT_LINK.TOOLTIP.NEW_PAYMENT_LINK' | translate"
                                                    nzTooltipPlacement="top" (click)="newPaymentLink()"><i nz-icon
                                                        [nzType]="'plus'"></i></button>
                                            </nz-form-control>
                                        </div>
                                    </div>
                                </nz-form-item>
                            </form>
                        </div>
                        <!-- </div>
                            </nz-tab>                            
                        </nz-tabset> -->
                    </div>
                    <div nz-row nzAlign="middle" nzJustify="center" class="footer" style="margin-top: 20px;"
                        nzType="flex">
                        {{'ADMIN.PAYMENT_LINK.CARD_FOOTER' | translate}}
                    </div>
                </div>
            </div>

            <!-- <nz-divider nzText="{{'ADMIN.MENU.GENERATE_PAYMENT_LINK' | translate}}" nzOrientation="left"></nz-divider>
            <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                <div nz-col [nzSm]="15" [nzXs]="15" [nzXl]="15" [nzXXl]="12">
                    <form nz-form style="margin-top: 20px;">
                        <nz-form-item>
                            <nz-form-label nzJustify="start" [nzSm]="11" [nzXs]="24">
                                {{'ADMIN.PAYMENT_LINK.DETAIL' | translate}}
                            </nz-form-label>
                            <nz-form-control [nzSm]="13" [nzXs]="24">
                                <input (keypress)="noSymbols($event, detail)" (paste)="noSymbols($event, detail)" nz-input [formControl]="detail" />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzJustify="start" [nzSm]="11" [nzXs]="24">
                                {{'ADMIN.PAYMENT_LINK.AMOUNT' | translate}}
                            </nz-form-label>
                            <nz-form-control [nzSm]="13" [nzXs]="24">
                                <div nz-row nzAlign="middle">
                                    <div nz-col [nzXs]="12" [nzSm]="12"  [nzMd]="6" [nzXl]="6" [nzXXl]="6">
                                        <nz-form-control>
                                            <nz-select [formControl]="currency">
                                                <ng-container *ngFor="let item of accountCurrencyList">
                                                    <nz-option [nzValue]="item" [nzLabel]="item"></nz-option>
                                                </ng-container> 
                                            </nz-select>
                                        </nz-form-control>
                                    </div>
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="18" [nzXl]="18" [nzXXl]="18">
                                        <nz-form-control>
                                            <input (keypress)="currencyNumber($event, amount)" (paste)="currencyNumber($event, amount)" nz-input [formControl]="amount" />
                                        </nz-form-control>
                                    </div>
                                </div>
                            </nz-form-control>                            
                        </nz-form-item>
                        <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="end" nzType="flex">
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="14" [nzXl]="14" [nzXXl]="14">
                                <nz-form-item>
                                    <nz-form-label nzJustify="start" [nzSm]="19" [nzXs]="24">
                                        {{'ADMIN.PAYMENT_LINK.SINGLE_PAYMENT' | translate}}
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="5" [nzXs]="24">
                                        <nz-switch [formControl]="singlePayment"></nz-switch>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label nzJustify="start" [nzSm]="19" [nzXs]="24">
                                        {{'ADMIN.PAYMENT_LINK.EXPIRATION_DATE' | translate}}
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="5" [nzXs]="24">
                                        <nz-switch [formControl]="expiration"></nz-switch>
                                    </nz-form-control>
                                    <ng-container *ngIf="expiration.value">
                                        <nz-form-control [nzOffset]="1" [nzSm]="13" [nzXs]="24">
                                            <nz-date-picker [formControl]="expirationDate"></nz-date-picker>
                                        </nz-form-control>
                                        <nz-form-control [nzOffset]="1" [nzSm]="13" [nzXs]="24">
                                            <nz-time-picker [formControl]="expirationTime" [nzUse12Hours]="true"
                                                nzFormat="h:mm a" [nzMinuteStep]="30"></nz-time-picker>
                                        </nz-form-control>
                                    </ng-container>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSm]="19" [nzXs]="24">
                                        {{'ADMIN.PAYMENT_LINK.SINGLE_CLIENT' | translate}}
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="5" [nzXs]="24">
                                        <nz-switch [formControl]="singleClient"></nz-switch>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSm]="19" [nzXs]="24">
                                        {{'ADMIN.PAYMENT_LINK.NOTIFICATION' | translate}}
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="5" [nzXs]="24">
                                        <nz-switch [formControl]="notification"></nz-switch>
                                    </nz-form-control>
                                    <ng-container *ngIf="notification.value">
                                        <nz-form-control [nzOffset]="1" [nzSm]="23" [nzXs]="24">
                                            <nz-radio-group [formControl]="notificationType">
                                                <label nz-radio [ngStyle]="style" nzValue="SMS">SMS</label>
                                                <label nz-radio [ngStyle]="style" nzValue="EMAIL">EMAIL</label>
                                                <label nz-radio [ngStyle]="style" nzValue="PUSH">NOTIFICACION
                                                    PUSH</label>
                                            </nz-radio-group>
                                        </nz-form-control>
                                    </ng-container>
                                </nz-form-item>
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="10" [nzXl]="10" [nzXXl]="10">
                                <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                                        <ng-container *ngIf="qrLink">
                                            <qrcode [qrdata]="qrLink" [width]="200" [errorCorrectionLevel]="'M'">
                                            </qrcode>
                                        </ng-container>
                                </div>
                            </div>
                        </div>
                        <nz-form-item>
                            <nz-form-label [nzSm]="6" [nzXs]="24">
                                {{'ADMIN.PAYMENT_LINK.LINK' | translate}}
                            </nz-form-label>
                            <nz-form-control [nzSm]="18" [nzXs]="24">
                                <span class="blue-text">{{link}}</span>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="end" nzType="flex">
                                <div nz-col>
                                    <nz-form-control nzAlign="middle" nzType="flex" nzJustify="end">
                                        <button nz-button nzType="primary" class="primary" [nzLoading]="saveLoading"
                                            (click)="showConfirm()"
                                            [disabled]="!paymentlinkForm.valid || paymentlinkForm.disabled">{{'ADMIN.BUTTON_GENERATE' | translate}}<i
                                                nz-icon [nzType]="'sync'"></i></button>
                                    </nz-form-control>
                                </div>
                            </div>
                        </nz-form-item>
                    </form>
                </div>
            </div> -->
        </nz-card>
    </div>
</div>

<ng-template #qrModalTemplate let-params let-ref="modalRef">
    <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
        <div nz-col [nzSpan]="20">
            <qrcode [qrdata]="qrLink" [width]="400" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
    </div>
</ng-template>